trunk/ pervasiveradarr/Pervasive Radar.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xsd:schema xmlns:default="http://www.genuitec.com/default.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.genuitec.com/default.xsd">
  <xsd:annotation>
    <xsd:documentation xml:lang="en">Generated By MyEclipse UML2</xsd:documentation>
  </xsd:annotation>
  <xsd:simpleType name="GeoPoint">
    <xsd:restriction base="xsd:string"/>
  </xsd:simpleType>
  <xsd:simpleType name="ItemizedOverlay">
    <xsd:restriction base="xsd:string"/>
  </xsd:simpleType>
  <xsd:simpleType name="MapActivity">
    <xsd:restriction base="xsd:string"/>
  </xsd:simpleType>
  <xsd:simpleType name="MapController">
    <xsd:restriction base="xsd:string"/>
  </xsd:simpleType>
  <xsd:simpleType name="MapView">
    <xsd:restriction base="xsd:string"/>
  </xsd:simpleType>
  <xsd:simpleType name="Overlay">
    <xsd:restriction base="xsd:string"/>
  </xsd:simpleType>
  <xsd:simpleType name="OverlayItem">
    <xsd:restriction base="xsd:string"/>
  </xsd:simpleType>
  <xsd:element name="HelloPacket" type="default:HelloPacket"/>
  <xsd:complexType name="HelloPacket">
    <xsd:sequence>
      <xsd:element name="timestamp" type="xsd:long"/>
      <xsd:element name="messagesSeenLastTime" type="xsd:long"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="SocialMarker" type="default:SocialMarker"/>
  <xsd:complexType name="SocialMarker">
    <xsd:sequence>
      <xsd:element name="MAX_OBJECTS" type="xsd:int"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="DevicesDiscovery" type="default:DevicesDiscovery"/>
  <xsd:complexType name="DevicesDiscovery">
    <xsd:sequence>
      <xsd:element name="mBtAdapter" type="default:BluetoothAdapter"/>
      <xsd:element name="discovery" type="default:Discovery"/>
      <xsd:element name="discoveryThread" type="default:Thread"/>
      <xsd:element name="handler" type="default:Handler"/>
      <xsd:element name="TAG" type="xsd:string"/>
      <xsd:element name="discoveryDelay" type="xsd:long"/>
      <xsd:element name="wakeLock" type="default:WakeLock"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="Discovery" type="default:Discovery"/>
  <xsd:complexType name="Discovery">
    <xsd:sequence>
      <xsd:element name="i" type="xsd:long"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="TimelineActivity" type="default:TimelineActivity"/>
  <xsd:complexType name="TimelineActivity">
    <xsd:sequence>
      <xsd:element name="TAG" type="xsd:string"/>
      <xsd:element name="listTimeline" type="default:ListView"/>
      <xsd:element name="input" type="default:EditText"/>
      <xsd:element name="inputProfile" type="default:EditText"/>
      <xsd:element name="inputDirect" type="default:EditText"/>
      <xsd:element name="peerRequestedClosing" type="xsd:boolean"/>
      <xsd:element name="db" type="default:SQLiteDatabase"/>
      <xsd:element name="dbHelper" type="default:DbOpenHelper"/>
      <xsd:element name="cursor" type="default:Cursor"/>
      <xsd:element name="cursorDisaster" type="default:Cursor"/>
      <xsd:element name="adapter" type="default:TimelineAdapter"/>
      <xsd:element name="dbActions" type="default:TweetDbActions"/>
      <xsd:element name="contextActions" type="default:TweetContextActions"/>
      <xsd:element name="alert" type="default:Builder"/>
      <xsd:element name="connHelper" type="default:ConnectionHelper"/>
      <xsd:element name="mToken" type="xsd:string"/>
      <xsd:element name="mSecret" type="xsd:string"/>
      <xsd:element name="mBtAdapter" type="default:BluetoothAdapter"/>
      <xsd:element name="notificationManager" type="default:NotificationManager"/>
      <xsd:element name="postDisasterTweets" type="default:Thread"/>
      <xsd:element name="resultStatus" type="default:Status"/>
      <xsd:element name="mSettings" type="default:SharedPreferences"/>
      <xsd:element name="prefs" type="default:SharedPreferences"/>
      <xsd:element name="isRunning" type="xsd:boolean"/>
      <xsd:element name="hasBeenSent" type="xsd:int"/>
      <xsd:element name="isShowingFavorites" type="xsd:boolean"/>
      <xsd:element name="PREF_SCREEN" type="xsd:int"/>
      <xsd:element name="REPLY_ID" type="xsd:int"/>
      <xsd:element name="RETWEET_ID" type="xsd:int"/>
      <xsd:element name="DELETE_ID" type="xsd:int"/>
      <xsd:element name="FAVORITE_ID" type="xsd:int"/>
      <xsd:element name="R_FAVORITE_ID" type="xsd:int"/>
      <xsd:element name="PROFILEINFO_ID" type="xsd:int"/>
      <xsd:element name="DIRECT_ID" type="xsd:int"/>
      <xsd:element name="REFRESH_ID" type="xsd:int"/>
      <xsd:element name="FOLLOWING_ID" type="xsd:int"/>
      <xsd:element name="SEND_ID" type="xsd:int"/>
      <xsd:element name="SETTINGS_ID" type="xsd:int"/>
      <xsd:element name="DISASTER_ID" type="xsd:int"/>
      <xsd:element name="EXIT_ID" type="xsd:int"/>
      <xsd:element name="FAVORITES_ID" type="xsd:int"/>
      <xsd:element name="TIMELINE_ID" type="xsd:int"/>
      <xsd:element name="MENTIONS_ID" type="xsd:int"/>
      <xsd:element name="SEARCH_ID" type="xsd:int"/>
      <xsd:element name="LOGOUT_ID" type="xsd:int"/>
      <xsd:element name="RECEIVED_DIRECT_ID" type="xsd:int"/>
      <xsd:element name="DETAILS_ID" type="xsd:int"/>
      <xsd:element name="FOLLOWERS_ID" type="xsd:int"/>
      <xsd:element name="FALSE" type="xsd:int"/>
      <xsd:element name="TRUE" type="xsd:int"/>
      <xsd:element name="DELAY" type="xsd:long"/>
      <xsd:element name="restartIntent" type="default:PendingIntent"/>
      <xsd:element name="activity" type="default:TimelineActivity"/>
      <xsd:element name="wakeLock" type="default:WakeLock"/>
      <xsd:element name="connec" type="default:ConnectivityManager"/>
      <xsd:element name="username" type="xsd:string"/>
      <xsd:element name="destinationUsername" type="xsd:string"/>
      <xsd:element name="id" type="xsd:long"/>
      <xsd:element name="modeChangeReceiver" type="default:BroadcastReceiver"/>
      <xsd:element name="twitterStatusReceiver" type="default:BroadcastReceiver"/>
      <xsd:element name="airplaneModeReceiver" type="default:BroadcastReceiver"/>
      <xsd:element name="externalAppReceiver" type="default:BroadcastReceiver"/>
      <xsd:element name="directMsgSentReceiver" type="default:BroadcastReceiver"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="DeleteMyTweets" type="default:DeleteMyTweets"/>
  <xsd:complexType name="DeleteMyTweets">
    <xsd:sequence/>
  </xsd:complexType>
  <xsd:element name="GetAuthenticatingUsername" type="default:GetAuthenticatingUsername"/>
  <xsd:complexType name="GetAuthenticatingUsername">
    <xsd:sequence>
      <xsd:element name="userId" type="xsd:long"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="PostPublicKey" type="default:PostPublicKey"/>
  <xsd:complexType name="PostPublicKey">
    <xsd:sequence/>
  </xsd:complexType>
  <xsd:element name="GetFriendKeys" type="default:GetFriendKeys"/>
  <xsd:complexType name="GetFriendKeys">
    <xsd:sequence/>
  </xsd:complexType>
  <xsd:element name="FetchMentions" type="default:FetchMentions"/>
  <xsd:complexType name="FetchMentions">
    <xsd:sequence>
      <xsd:element name="values" type="default:ContentValues"/>
      <xsd:element maxOccurs="unbounded" name="results" type="default:ArrayList"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="RefreshTimeline" type="default:RefreshTimeline"/>
  <xsd:complexType name="RefreshTimeline">
    <xsd:sequence>
      <xsd:element name="postDialog" type="default:ProgressDialog"/>
      <xsd:element name="showDialog" type="xsd:boolean"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="PostDisasterTweets" type="default:PostDisasterTweets"/>
  <xsd:complexType name="PostDisasterTweets">
    <xsd:sequence/>
  </xsd:complexType>
  <xsd:element name="SendTask" type="default:SendTask"/>
  <xsd:complexType name="SendTask">
    <xsd:sequence>
      <xsd:element name="id" type="xsd:long"/>
      <xsd:element name="status" type="xsd:string"/>
      <xsd:element name="isDisaster" type="xsd:boolean"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="DeleteTweet" type="default:DeleteTweet"/>
  <xsd:complexType name="DeleteTweet">
    <xsd:sequence>
      <xsd:element name="isDisaster" type="xsd:boolean"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="SetFavorite" type="default:SetFavorite"/>
  <xsd:complexType name="SetFavorite">
    <xsd:sequence>
      <xsd:element name="postDialog" type="default:ProgressDialog"/>
      <xsd:element name="action" type="xsd:int"/>
      <xsd:element name="table" type="xsd:string"/>
      <xsd:element name="query" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="FriendsAdapter" type="default:FriendsAdapter"/>
  <xsd:complexType name="FriendsAdapter">
    <xsd:sequence>
      <xsd:element name="cPic" type="default:Cursor"/>
      <xsd:element name="TAG" type="xsd:string"/>
      <xsd:element name="from" type="xsd:string"/>
      <xsd:element name="to" type="xsd:int"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="ShowDisasterDbActivity" type="default:ShowDisasterDbActivity"/>
  <xsd:complexType name="ShowDisasterDbActivity">
    <xsd:sequence>
      <xsd:element name="listTimeline" type="default:ListView"/>
      <xsd:element name="dbHelper" type="default:DbOpenHelper"/>
      <xsd:element name="cursor" type="default:Cursor"/>
      <xsd:element name="dbActions" type="default:TweetDbActions"/>
      <xsd:element name="adapter" type="default:TimelineAdapter"/>
      <xsd:element name="cal" type="default:Calendar"/>
      <xsd:element name="TAG" type="xsd:string"/>
      <xsd:element name="order" type="xsd:int"/>
      <xsd:element name="twitterStatusReceiver" type="default:TwitterStatusReceiver"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="TwitterStatusReceiver" type="default:TwitterStatusReceiver"/>
  <xsd:complexType name="TwitterStatusReceiver">
    <xsd:sequence/>
  </xsd:complexType>
  <xsd:element name="OAUTH" type="default:OAUTH"/>
  <xsd:complexType name="OAUTH">
    <xsd:sequence>
      <xsd:element name="TAG" type="xsd:string"/>
      <xsd:element name="CONSUMER_KEY" type="xsd:string"/>
      <xsd:element name="CONSUMER_SECRET" type="xsd:string"/>
      <xsd:element name="USER_TOKEN" type="xsd:string"/>
      <xsd:element name="USER_SECRET" type="xsd:string"/>
      <xsd:element name="REQUEST_TOKEN" type="xsd:string"/>
      <xsd:element name="REQUEST_SECRET" type="xsd:string"/>
      <xsd:element name="TWITTER_REQUEST_TOKEN_URL" type="xsd:string"/>
      <xsd:element name="TWITTER_ACCESS_TOKEN_URL" type="xsd:string"/>
      <xsd:element name="TWITTER_AUTHORIZE_URL" type="xsd:string"/>
      <xsd:element name="CALLBACK_URI" type="default:Uri"/>
      <xsd:element name="PREFS" type="xsd:string"/>
      <xsd:element name="mConsumer" type="default:OAuthConsumer"/>
      <xsd:element name="mProvider" type="default:OAuthProvider"/>
      <xsd:element name="mSettings" type="default:SharedPreferences"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="MixListView" type="default:MixListView"/>
  <xsd:complexType name="MixListView">
    <xsd:sequence>
      <xsd:element name="list" type="xsd:int"/>
      <xsd:element maxOccurs="unbounded" name="listViewMenu" type="default:Vector"/>
      <xsd:element maxOccurs="unbounded" name="selectedItemURL" type="default:Vector"/>
      <xsd:element maxOccurs="unbounded" name="dataSourceMenu" type="default:Vector"/>
      <xsd:element maxOccurs="unbounded" name="dataSourceDescription" type="default:Vector"/>
      <xsd:element maxOccurs="unbounded" name="dataSourceChecked" type="default:Vector"/>
      <xsd:element name="mixContext" type="default:MixContext"/>
      <xsd:element name="dataView" type="default:DataView"/>
      <xsd:element name="adapter" type="default:ListItemAdapter"/>
      <xsd:element name="customizedURL" type="xsd:string"/>
      <xsd:element name="ctx" type="default:Context"/>
      <xsd:element name="searchQuery" type="xsd:string"/>
      <xsd:element maxOccurs="unbounded" name="searchResultMarkers" type="default:List"/>
      <xsd:element maxOccurs="unbounded" name="originalMarkerList" type="default:List"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="ListItemAdapter" type="default:ListItemAdapter"/>
  <xsd:complexType name="ListItemAdapter">
    <xsd:sequence>
      <xsd:element name="mixListView" type="default:MixListView"/>
      <xsd:element name="myInflater" type="default:LayoutInflater"/>
      <xsd:element name="holder" type="default:ViewHolder"/>
      <xsd:element name="bgcolors" type="xsd:int"/>
      <xsd:element name="textcolors" type="xsd:int"/>
      <xsd:element name="descriptioncolors" type="xsd:int"/>
      <xsd:element name="icon_clicked" type="xsd:boolean"/>
      <xsd:element name="itemPosition" type="xsd:int"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="ViewHolder" type="default:ViewHolder"/>
  <xsd:complexType name="ViewHolder">
    <xsd:sequence>
      <xsd:element name="text" type="default:TextView"/>
      <xsd:element name="description" type="default:TextView"/>
      <xsd:element name="checkbox" type="default:CheckBox"/>
      <xsd:element name="icon" type="default:ImageView"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="TweetContextActions" type="default:TweetContextActions"/>
  <xsd:complexType name="TweetContextActions">
    <xsd:sequence>
      <xsd:element name="cursorSelected" type="default:Cursor"/>
      <xsd:element name="connHelper" type="default:ConnectionHelper"/>
      <xsd:element name="prefs" type="default:SharedPreferences"/>
      <xsd:element name="mSettings" type="default:SharedPreferences"/>
      <xsd:element name="dbActions" type="default:TweetDbActions"/>
      <xsd:element name="mBtAdapter" type="default:BluetoothAdapter"/>
      <xsd:element name="FALSE" type="xsd:int"/>
      <xsd:element name="TRUE" type="xsd:int"/>
      <xsd:element name="username" type="xsd:string"/>
      <xsd:element name="text" type="xsd:string"/>
      <xsd:element name="userId" type="xsd:long"/>
      <xsd:element name="TAG" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="RSACrypto" type="default:RSACrypto"/>
  <xsd:complexType name="RSACrypto">
    <xsd:sequence>
      <xsd:element name="TAG" type="xsd:string"/>
      <xsd:element name="mSettings" type="default:SharedPreferences"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="DataView" type="default:DataView"/>
  <xsd:complexType name="DataView">
    <xsd:sequence>
      <xsd:element name="mixContext" type="default:MixContext"/>
      <xsd:element name="isInit" type="xsd:boolean"/>
      <xsd:element name="width" type="xsd:int"/>
      <xsd:element name="height" type="xsd:int"/>
      <xsd:element name="cam" type="default:Camera"/>
      <xsd:element name="state" type="default:MixState"/>
      <xsd:element name="frozen" type="xsd:boolean"/>
      <xsd:element name="retry" type="xsd:int"/>
      <xsd:element name="curFix" type="default:Location"/>
      <xsd:element name="dataHandler" type="default:DataHandler"/>
      <xsd:element name="radius" type="xsd:float"/>
      <xsd:element name="EMPTY_LIST_STRING_ID" type="xsd:int"/>
      <xsd:element name="OPTION_NOT_AVAILABLE_STRING_ID" type="xsd:int"/>
      <xsd:element name="EMPTY_LIST_STRIG_ID" type="xsd:int"/>
      <xsd:element name="MENU_ITEM_1" type="xsd:int"/>
      <xsd:element name="MENU_ITEM_2" type="xsd:int"/>
      <xsd:element name="MENU_ITEM_3" type="xsd:int"/>
      <xsd:element name="MENU_ITEM_4" type="xsd:int"/>
      <xsd:element name="MENU_ITEM_5" type="xsd:int"/>
      <xsd:element name="MENU_ITEM_6" type="xsd:int"/>
      <xsd:element name="MENU_ITEM_7" type="xsd:int"/>
      <xsd:element name="CONNECITON_ERROR_DIALOG_TEXT" type="xsd:int"/>
      <xsd:element name="CONNECITON_ERROR_DIALOG_BUTTON1" type="xsd:int"/>
      <xsd:element name="CONNECITON_ERROR_DIALOG_BUTTON2" type="xsd:int"/>
      <xsd:element name="CONNECITON_ERROR_DIALOG_BUTTON3" type="xsd:int"/>
      <xsd:element name="CONNECITON_GPS_DIALOG_TEXT" type="xsd:int"/>
      <xsd:element name="CONNECITON_GPS_DIALOG_BUTTON1" type="xsd:int"/>
      <xsd:element name="CONNECITON_GPS_DIALOG_BUTTON2" type="xsd:int"/>
      <xsd:element name="NO_WEBINFO_AVAILABLE" type="xsd:int"/>
      <xsd:element name="LICENSE_TEXT" type="xsd:int"/>
      <xsd:element name="LICENSE_TITLE" type="xsd:int"/>
      <xsd:element name="CLOSE_BUTTON" type="xsd:int"/>
      <xsd:element name="GENERAL_INFO_TITLE" type="xsd:int"/>
      <xsd:element name="GENERAL_INFO_TEXT" type="xsd:int"/>
      <xsd:element name="GPS_LONGITUDE" type="xsd:int"/>
      <xsd:element name="GPS_LATITUDE" type="xsd:int"/>
      <xsd:element name="GPS_ALTITUDE" type="xsd:int"/>
      <xsd:element name="GPS_SPEED" type="xsd:int"/>
      <xsd:element name="GPS_ACCURACY" type="xsd:int"/>
      <xsd:element name="GPS_LAST_FIX" type="xsd:int"/>
      <xsd:element name="MAP_MENU_NORMAL_MODE" type="xsd:int"/>
      <xsd:element name="MAP_MENU_SATELLITE_MODE" type="xsd:int"/>
      <xsd:element name="MENU_CAM_MODE" type="xsd:int"/>
      <xsd:element name="MAP_MY_LOCATION" type="xsd:int"/>
      <xsd:element name="MAP_CURRENT_LOCATION_CLICK" type="xsd:int"/>
      <xsd:element name="DATA_SOURCE_CHANGE_WIKIPEDIA" type="xsd:int"/>
      <xsd:element name="DATA_SOURCE_CHANGE_TWITTER" type="xsd:int"/>
      <xsd:element name="DATA_SOURCE_CHANGE_BUZZ" type="xsd:int"/>
      <xsd:element name="DATA_SOURCE_CHANGE_OSM" type="xsd:int"/>
      <xsd:element name="SEARCH_FAILED_NOTIFICATION" type="xsd:int"/>
      <xsd:element name="SOURCE_OPENSTREETMAP" type="xsd:int"/>
      <xsd:element name="SEARCH_ACTIVE_1" type="xsd:int"/>
      <xsd:element name="SEARCH_ACTIVE_2" type="xsd:int"/>
      <xsd:element name="isLauncherStarted" type="xsd:boolean"/>
      <xsd:element maxOccurs="unbounded" name="uiEvents" type="default:ArrayList"/>
      <xsd:element name="radarPoints" type="default:RadarPoints"/>
      <xsd:element name="lrl" type="default:ScreenLine"/>
      <xsd:element name="rrl" type="default:ScreenLine"/>
      <xsd:element name="rx" type="xsd:float"/>
      <xsd:element name="ry" type="xsd:float"/>
      <xsd:element name="addX" type="xsd:float"/>
      <xsd:element name="addY" type="xsd:float"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="UIEvent" type="default:UIEvent"/>
  <xsd:complexType name="UIEvent">
    <xsd:sequence>
      <xsd:element name="CLICK" type="xsd:int"/>
      <xsd:element name="KEY" type="xsd:int"/>
      <xsd:element name="type" type="xsd:int"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="ClickEvent" type="default:ClickEvent"/>
  <xsd:complexType name="ClickEvent">
    <xsd:sequence>
      <xsd:element name="x" type="xsd:float"/>
      <xsd:element name="y" type="xsd:float"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="KeyEvent" type="default:KeyEvent"/>
  <xsd:complexType name="KeyEvent">
    <xsd:sequence>
      <xsd:element name="keyCode" type="xsd:int"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="POIMarker" type="default:POIMarker"/>
  <xsd:complexType name="POIMarker">
    <xsd:sequence>
      <xsd:element name="MAX_OBJECTS" type="xsd:int"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="Marker" type="default:Marker"/>
  <xsd:complexType name="Marker">
    <xsd:sequence>
      <xsd:element name="ID" type="xsd:string"/>
      <xsd:element name="title" type="xsd:string"/>
      <xsd:element name="URL" type="xsd:string"/>
      <xsd:element name="mGeoLoc" type="default:PhysicalPlace"/>
      <xsd:element name="distance" type="xsd:double"/>
      <xsd:element name="datasource" type="default:DATASOURCE"/>
      <xsd:element name="active" type="xsd:boolean"/>
      <xsd:element name="isVisible" type="xsd:boolean"/>
      <xsd:element name="cMarker" type="default:MixVector"/>
      <xsd:element name="signMarker" type="default:MixVector"/>
      <xsd:element name="tmpa" type="default:MixVector"/>
      <xsd:element name="tmpb" type="default:MixVector"/>
      <xsd:element name="tmpc" type="default:MixVector"/>
      <xsd:element name="locationVector" type="default:MixVector"/>
      <xsd:element name="origin" type="default:MixVector"/>
      <xsd:element name="upV" type="default:MixVector"/>
      <xsd:element name="pPt" type="default:ScreenLine"/>
      <xsd:element name="txtLab" type="default:Label"/>
      <xsd:element name="textBlock" type="default:TextObj"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="Label" type="default:Label"/>
  <xsd:complexType name="Label">
    <xsd:sequence>
      <xsd:element name="x" type="xsd:float"/>
      <xsd:element name="y" type="xsd:float"/>
      <xsd:element name="width" type="xsd:float"/>
      <xsd:element name="height" type="xsd:float"/>
      <xsd:element name="obj" type="default:ScreenObj"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="MixUtils" type="default:MixUtils"/>
  <xsd:complexType name="MixUtils">
    <xsd:sequence/>
  </xsd:complexType>
  <xsd:element name="MixMap" type="default:MixMap"/>
  <xsd:complexType name="MixMap">
    <xsd:sequence>
      <xsd:element maxOccurs="unbounded" name="mapOverlays" type="default:List"/>
      <xsd:element name="drawable" type="default:Drawable"/>
      <xsd:element maxOccurs="unbounded" name="markerList" type="default:List"/>
      <xsd:element name="dataView" type="default:DataView"/>
      <xsd:element name="startPoint" type="default:GeoPoint"/>
      <xsd:element name="mixContext" type="default:MixContext"/>
      <xsd:element name="mapView" type="default:MapView"/>
      <xsd:element name="map" type="default:MixMap"/>
      <xsd:element name="thisContext" type="default:Context"/>
      <xsd:element name="searchNotificationTxt" type="default:TextView"/>
      <xsd:element maxOccurs="unbounded" name="originalMarkerList" type="default:List"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="MixOverlay" type="default:MixOverlay"/>
  <xsd:complexType name="MixOverlay">
    <xsd:sequence>
      <xsd:element maxOccurs="unbounded" name="overlayItems" type="default:ArrayList"/>
      <xsd:element name="mixMap" type="default:MixMap"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="ConnectionHelper" type="default:ConnectionHelper"/>
  <xsd:complexType name="ConnectionHelper">
    <xsd:sequence>
      <xsd:element name="mSettings" type="default:SharedPreferences"/>
      <xsd:element name="connec" type="default:ConnectivityManager"/>
      <xsd:element name="twitter" type="default:Twitter"/>
      <xsd:element name="TAG" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="KeysActions" type="default:KeysActions"/>
  <xsd:complexType name="KeysActions">
    <xsd:sequence>
      <xsd:element name="TAG" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="MixContext" type="default:MixContext"/>
  <xsd:complexType name="MixContext">
    <xsd:sequence>
      <xsd:element name="mixView" type="default:MixView"/>
      <xsd:element name="ctx" type="default:Context"/>
      <xsd:element name="isURLvalid" type="xsd:boolean"/>
      <xsd:element name="rand" type="default:Random"/>
      <xsd:element name="downloadManager" type="default:DownloadManager"/>
      <xsd:element name="curLoc" type="default:Location"/>
      <xsd:element name="locationAtLastDownload" type="default:Location"/>
      <xsd:element name="rotationM" type="default:Matrix"/>
      <xsd:element name="declination" type="xsd:float"/>
      <xsd:element name="actualLocation" type="xsd:boolean"/>
      <xsd:element name="locationMgr" type="default:LocationManager"/>
      <xsd:element name="selectedDataSources" type="default:DATASOURCE,Boolean&gt;"/>
      <xsd:element name="htmlEntities" type="default:HashMap"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="UpdaterService" type="default:UpdaterService"/>
  <xsd:complexType name="UpdaterService">
    <xsd:sequence>
      <xsd:element name="TAG" type="xsd:string"/>
      <xsd:element name="ACTION_NEW_TWITTER_STATUS" type="xsd:string"/>
      <xsd:element name="handler" type="default:Handler"/>
      <xsd:element name="updater" type="default:Updater"/>
      <xsd:element name="updaterLf" type="default:UpdaterLessFrequent"/>
      <xsd:element name="db" type="default:SQLiteDatabase"/>
      <xsd:element name="dbActions" type="default:TweetDbActions"/>
      <xsd:element name="updaterThread" type="default:Thread"/>
      <xsd:element name="updaterLfThread" type="default:Thread"/>
      <xsd:element name="dbHelper" type="default:DbOpenHelper"/>
      <xsd:element name="connec" type="default:ConnectivityManager"/>
      <xsd:element name="mSettings" type="default:SharedPreferences"/>
      <xsd:element name="prefs" type="default:SharedPreferences"/>
      <xsd:element name="connHelper" type="default:ConnectionHelper"/>
      <xsd:element maxOccurs="unbounded" name="results" type="default:ArrayList"/>
      <xsd:element name="messages" type="default:Message&gt;"/>
      <xsd:element name="notification" type="default:Notification"/>
      <xsd:element name="notificationManager" type="default:NotificationManager"/>
      <xsd:element name="twitter" type="default:Twitter"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="UpdaterLessFrequent" type="default:UpdaterLessFrequent"/>
  <xsd:complexType name="UpdaterLessFrequent">
    <xsd:sequence/>
  </xsd:complexType>
  <xsd:element name="Updater" type="default:Updater"/>
  <xsd:complexType name="Updater">
    <xsd:sequence/>
  </xsd:complexType>
  <xsd:element name="Download" type="default:Download"/>
  <xsd:complexType name="Download">
    <xsd:sequence>
      <xsd:element name="timeline" type="default:Status&gt;"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="FetchFavorites" type="default:FetchFavorites"/>
  <xsd:complexType name="FetchFavorites">
    <xsd:sequence/>
  </xsd:complexType>
  <xsd:element name="FetchMentions" type="default:FetchMentions"/>
  <xsd:complexType name="FetchMentions">
    <xsd:sequence>
      <xsd:element name="values" type="default:ContentValues"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="FetchDirect" type="default:FetchDirect"/>
  <xsd:complexType name="FetchDirect">
    <xsd:sequence>
      <xsd:element name="values" type="default:ContentValues"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="FriendsLookup" type="default:FriendsLookup"/>
  <xsd:complexType name="FriendsLookup">
    <xsd:sequence>
      <xsd:element name="values" type="default:ContentValues"/>
      <xsd:element maxOccurs="unbounded" name="friendsList" type="default:List"/>
      <xsd:element maxOccurs="unbounded" name="followersList" type="default:List"/>
      <xsd:element name="dummyStatus" type="default:Status&gt;"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="Compatibility" type="default:Compatibility"/>
  <xsd:complexType name="Compatibility">
    <xsd:sequence>
      <xsd:element name="mParameters_getSupportedPreviewSizes" type="default:Method"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="FollowersActivity" type="default:FollowersActivity"/>
  <xsd:complexType name="FollowersActivity">
    <xsd:sequence>
      <xsd:element name="listFriends" type="default:ListView"/>
      <xsd:element name="stringArray" type="xsd:string"/>
      <xsd:element name="mSettings" type="default:SharedPreferences"/>
      <xsd:element name="connec" type="default:ConnectivityManager"/>
      <xsd:element name="connHelper" type="default:ConnectionHelper"/>
      <xsd:element name="dbActions" type="default:TweetDbActions"/>
      <xsd:element name="SEND_DIRECT_ID" type="xsd:int"/>
      <xsd:element name="REPLY_ID" type="xsd:int"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="ClickListener" type="default:ClickListener"/>
  <xsd:complexType name="ClickListener">
    <xsd:sequence/>
  </xsd:complexType>
  <xsd:element name="BluetoothComms" type="default:BluetoothComms"/>
  <xsd:complexType name="BluetoothComms">
    <xsd:sequence>
      <xsd:element name="TAG" type="xsd:string"/>
      <xsd:element name="D" type="xsd:boolean"/>
      <xsd:element name="NAME_INSECURE" type="xsd:string"/>
      <xsd:element name="MY_UUID_INSECURE" type="default:UUID"/>
      <xsd:element name="mAdapter" type="default:BluetoothAdapter"/>
      <xsd:element name="mHandler" type="default:Handler"/>
      <xsd:element name="mInsecureAcceptThread" type="default:AcceptThread"/>
      <xsd:element name="mConnectThread" type="default:ConnectThread"/>
      <xsd:element name="mConnectedThread" type="default:ConnectedThread"/>
      <xsd:element name="mState" type="xsd:int"/>
      <xsd:element name="out" type="default:ObjectOutputStream"/>
      <xsd:element name="mmSocket" type="default:BluetoothSocket"/>
      <xsd:element name="isAccepted" type="xsd:boolean"/>
      <xsd:element name="STATE_NONE" type="xsd:int"/>
      <xsd:element name="STATE_LISTEN" type="xsd:int"/>
      <xsd:element name="STATE_CONNECTING" type="xsd:int"/>
      <xsd:element name="STATE_CONNECTED" type="xsd:int"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="AcceptThread" type="default:AcceptThread"/>
  <xsd:complexType name="AcceptThread">
    <xsd:sequence>
      <xsd:element name="mmServerSocket" type="default:BluetoothServerSocket"/>
      <xsd:element name="acceptSocket" type="default:BluetoothSocket"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="ConnectThread" type="default:ConnectThread"/>
  <xsd:complexType name="ConnectThread">
    <xsd:sequence>
      <xsd:element name="mmDevice" type="default:BluetoothDevice"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="ConnectedThread" type="default:ConnectedThread"/>
  <xsd:complexType name="ConnectedThread">
    <xsd:sequence>
      <xsd:element name="mmSocket" type="default:BluetoothSocket"/>
      <xsd:element name="mmInStream" type="default:InputStream"/>
      <xsd:element name="mmOutStream" type="default:OutputStream"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="AbstractPacket" type="default:AbstractPacket"/>
  <xsd:complexType name="AbstractPacket">
    <xsd:sequence>
      <xsd:element name="serialVersionUID" type="xsd:long"/>
      <xsd:element name="HELLO_FIRST_PACKET" type="xsd:int"/>
      <xsd:element name="HELLO_SUCC_PACKET" type="xsd:int"/>
      <xsd:element name="DATA_PACKET" type="xsd:int"/>
      <xsd:element name="KEYS_PACKET" type="xsd:int"/>
      <xsd:element name="type" type="xsd:int"/>
      <xsd:element name="closeConnection" type="xsd:boolean"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="TweetDbActions" type="default:TweetDbActions"/>
  <xsd:complexType name="TweetDbActions">
    <xsd:sequence>
      <xsd:element name="dbHelper" type="default:DbOpenHelper"/>
      <xsd:element name="db" type="default:SQLiteDatabase"/>
      <xsd:element name="cursorNewPeer" type="default:Cursor"/>
      <xsd:element name="cursorDisaster" type="default:Cursor"/>
      <xsd:element name="cursorSelected" type="default:Cursor"/>
      <xsd:element name="cursorPeers" type="default:Cursor"/>
      <xsd:element name="TAG" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="FollowingActivity" type="default:FollowingActivity"/>
  <xsd:complexType name="FollowingActivity">
    <xsd:sequence>
      <xsd:element name="listFriends" type="default:ListView"/>
      <xsd:element name="stringArray" type="xsd:string"/>
      <xsd:element name="mSettings" type="default:SharedPreferences"/>
      <xsd:element name="connec" type="default:ConnectivityManager"/>
      <xsd:element name="connHelper" type="default:ConnectionHelper"/>
      <xsd:element name="dbActions" type="default:TweetDbActions"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="ClickListener" type="default:ClickListener"/>
  <xsd:complexType name="ClickListener">
    <xsd:sequence/>
  </xsd:complexType>
  <xsd:element name="DirectMessage" type="default:DirectMessage"/>
  <xsd:complexType name="DirectMessage">
    <xsd:sequence>
      <xsd:element name="id" type="xsd:long"/>
      <xsd:element name="created_at" type="xsd:long"/>
      <xsd:element name="message" type="xsd:byte"/>
      <xsd:element name="sender" type="xsd:byte"/>
      <xsd:element name="recipientUser" type="xsd:string"/>
      <xsd:element name="hasBeenSent" type="xsd:int"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="DirectMsgTask" type="default:DirectMsgTask"/>
  <xsd:complexType name="DirectMsgTask">
    <xsd:sequence>
      <xsd:element name="message" type="xsd:string"/>
      <xsd:element name="username" type="xsd:string"/>
      <xsd:element name="senderUser" type="xsd:string"/>
      <xsd:element name="postDialog" type="default:ProgressDialog"/>
      <xsd:element name="cont" type="default:Context"/>
      <xsd:element name="connHelper" type="default:ConnectionHelper"/>
      <xsd:element name="dbActions" type="default:TweetDbActions"/>
      <xsd:element name="messageResult" type="default:Message"/>
      <xsd:element name="isDisaster" type="xsd:int"/>
      <xsd:element name="hasBeenSent" type="xsd:int"/>
      <xsd:element name="mSettings" type="default:SharedPreferences"/>
      <xsd:element name="SENT" type="xsd:int"/>
      <xsd:element name="NOT_SENT" type="xsd:int"/>
      <xsd:element name="TAG" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="NavigationMarker" type="default:NavigationMarker"/>
  <xsd:complexType name="NavigationMarker">
    <xsd:sequence>
      <xsd:element name="MAX_OBJECTS" type="xsd:int"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="TimelineAdapter" type="default:TimelineAdapter"/>
  <xsd:complexType name="TimelineAdapter">
    <xsd:sequence>
      <xsd:element name="cPic" type="default:Cursor"/>
      <xsd:element name="TAG" type="xsd:string"/>
      <xsd:element name="from" type="xsd:string"/>
      <xsd:element name="to" type="xsd:int"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="SendDirectMessageActivity" type="default:SendDirectMessageActivity"/>
  <xsd:complexType name="SendDirectMessageActivity">
    <xsd:sequence>
      <xsd:element name="msgEditText" type="default:EditText"/>
      <xsd:element name="username" type="xsd:string"/>
      <xsd:element name="mSettings" type="default:SharedPreferences"/>
      <xsd:element name="prefs" type="default:SharedPreferences"/>
      <xsd:element name="connec" type="default:ConnectivityManager"/>
      <xsd:element name="connHelper" type="default:ConnectionHelper"/>
      <xsd:element name="userEditText" type="default:EditText"/>
      <xsd:element name="sendClickListener" type="default:OnClickListener"/>
      <xsd:element name="canceClickListener" type="default:OnClickListener"/>
      <xsd:element name="directMsgSentReceiver" type="default:BroadcastReceiver"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="Retweet" type="default:Retweet"/>
  <xsd:complexType name="Retweet">
    <xsd:sequence>
      <xsd:element name="contextActions" type="default:TweetContextActions"/>
      <xsd:element name="table" type="xsd:string"/>
      <xsd:element name="cont" type="default:Context"/>
      <xsd:element name="show" type="xsd:boolean"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="LogFilesOperations" type="default:LogFilesOperations"/>
  <xsd:complexType name="LogFilesOperations">
    <xsd:sequence>
      <xsd:element name="TAG" type="xsd:string"/>
      <xsd:element name="logFile" type="default:File"/>
      <xsd:element name="root" type="default:File"/>
      <xsd:element name="path" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="DirectMessagesActivity" type="default:DirectMessagesActivity"/>
  <xsd:complexType name="DirectMessagesActivity">
    <xsd:sequence>
      <xsd:element name="listDirect" type="default:ListView"/>
      <xsd:element name="cursor" type="default:Cursor"/>
      <xsd:element name="cursorPictures" type="default:Cursor"/>
      <xsd:element name="adapter" type="default:TimelineAdapter"/>
      <xsd:element name="dbActions" type="default:TweetDbActions"/>
      <xsd:element name="mSettings" type="default:SharedPreferences"/>
      <xsd:element name="connec" type="default:ConnectivityManager"/>
      <xsd:element name="connHelper" type="default:ConnectionHelper"/>
      <xsd:element name="TAG" type="xsd:string"/>
      <xsd:element name="DELETE_ID" type="xsd:int"/>
      <xsd:element name="SEND_DIRECT_ID" type="xsd:int"/>
      <xsd:element name="DELETE_ALL_ID" type="xsd:int"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="DeleteMsg" type="default:DeleteMsg"/>
  <xsd:complexType name="DeleteMsg">
    <xsd:sequence>
      <xsd:element name="postDialog" type="default:ProgressDialog"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="DbOpenHelper" type="default:DbOpenHelper"/>
  <xsd:complexType name="DbOpenHelper">
    <xsd:sequence>
      <xsd:element name="context" type="default:Context"/>
      <xsd:element name="TAG" type="xsd:string"/>
      <xsd:element name="DB_NAME" type="xsd:string"/>
      <xsd:element name="DB_VERSION" type="xsd:int"/>
      <xsd:element name="TABLE" type="xsd:string"/>
      <xsd:element name="TABLE_DISASTER" type="xsd:string"/>
      <xsd:element name="TABLE_ADDRESSES" type="xsd:string"/>
      <xsd:element name="TABLE_FAVORITES" type="xsd:string"/>
      <xsd:element name="TABLE_MENTIONS" type="xsd:string"/>
      <xsd:element name="TABLE_PICTURES" type="xsd:string"/>
      <xsd:element name="TABLE_DIRECT" type="xsd:string"/>
      <xsd:element name="TABLE_SEARCH" type="xsd:string"/>
      <xsd:element name="TABLE_FRIENDS" type="xsd:string"/>
      <xsd:element name="TABLE_DIRECT_OUTGOING" type="xsd:string"/>
      <xsd:element name="C_MAC" type="xsd:string"/>
      <xsd:element name="C_MET_AT" type="xsd:string"/>
      <xsd:element name="C_TWEETS_NUMBER" type="xsd:string"/>
      <xsd:element name="C_ADDED_AT" type="xsd:string"/>
      <xsd:element name="C_ID" type="xsd:string"/>
      <xsd:element name="C_CREATED_AT" type="xsd:string"/>
      <xsd:element name="C_TEXT" type="xsd:string"/>
      <xsd:element name="C_USER" type="xsd:string"/>
      <xsd:element name="C_USER_ID" type="xsd:string"/>
      <xsd:element name="C_USER_RECIPIENT" type="xsd:string"/>
      <xsd:element name="C_SENT_BY" type="xsd:string"/>
      <xsd:element name="C_IS_FAVORITE" type="xsd:string"/>
      <xsd:element name="C_IS_DISASTER" type="xsd:string"/>
      <xsd:element name="C_IS_DISASTER_FRIEND" type="xsd:string"/>
      <xsd:element name="C_IS_MY_FOLLOWER" type="xsd:string"/>
      <xsd:element name="C_IS_FOLLOWED_BY_ME" type="xsd:string"/>
      <xsd:element name="C_ISFROMSERVER" type="xsd:string"/>
      <xsd:element name="C_HASBEENSENT" type="xsd:string"/>
      <xsd:element name="C_IS_VALID" type="xsd:string"/>
      <xsd:element name="C_HOPCOUNT" type="xsd:string"/>
      <xsd:element name="C_IMAGE" type="xsd:string"/>
      <xsd:element name="C_MODULUS" type="xsd:string"/>
      <xsd:element name="C_EXPONENT" type="xsd:string"/>
      <xsd:element name="C_SIGNATURE" type="xsd:string"/>
      <xsd:element name="sqlDisaster" type="xsd:string"/>
      <xsd:element name="sqlAddresses" type="xsd:string"/>
      <xsd:element name="sqlFavorites" type="xsd:string"/>
      <xsd:element name="sqlMentions" type="xsd:string"/>
      <xsd:element name="sql" type="xsd:string"/>
      <xsd:element name="sqlPictures" type="xsd:string"/>
      <xsd:element name="sqlDirect" type="xsd:string"/>
      <xsd:element name="sqlSearch" type="xsd:string"/>
      <xsd:element name="sqlFriends" type="xsd:string"/>
      <xsd:element name="sqlDirectOutgoing" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="MixState" type="default:MixState"/>
  <xsd:complexType name="MixState">
    <xsd:sequence>
      <xsd:element name="NOT_STARTED" type="xsd:int"/>
      <xsd:element name="PROCESSING" type="xsd:int"/>
      <xsd:element name="READY" type="xsd:int"/>
      <xsd:element name="DONE" type="xsd:int"/>
      <xsd:element name="nextLStatus" type="xsd:int"/>
      <xsd:element name="downloadId" type="xsd:string"/>
      <xsd:element name="curBearing" type="xsd:float"/>
      <xsd:element name="curPitch" type="xsd:float"/>
      <xsd:element name="detailsView" type="xsd:boolean"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="FetchProfilePic" type="default:FetchProfilePic"/>
  <xsd:complexType name="FetchProfilePic">
    <xsd:sequence>
      <xsd:element maxOccurs="unbounded" name="timeline" type="default:List"/>
      <xsd:element name="dbActions" type="default:TweetDbActions"/>
      <xsd:element name="cont" type="default:Context"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="Constants" type="default:Constants"/>
  <xsd:complexType name="Constants">
    <xsd:sequence>
      <xsd:element name="TWHISPER_HASHTAG" type="xsd:string"/>
      <xsd:element name="TWINTERNAL_HASHTAG" type="xsd:string"/>
      <xsd:element name="ACTION_NEW_DISASTER_TWEET" type="xsd:string"/>
      <xsd:element name="ACTION_DISASTER_MODE" type="xsd:string"/>
      <xsd:element name="ACTION_NEW_TWEETS" type="xsd:string"/>
      <xsd:element name="MENTION_NOTIFICATION_ID" type="xsd:int"/>
      <xsd:element name="DIRECT_NOTIFICATION_ID" type="xsd:int"/>
      <xsd:element name="NOTIFICATION_ID" type="xsd:int"/>
      <xsd:element name="TWEET_UPDATE_INTERVAL" type="xsd:long"/>
      <xsd:element name="FRIENDS_UPDATE_INTERVAL" type="xsd:long"/>
      <xsd:element name="KEY_GENERATION_INTERVAL" type="xsd:long"/>
      <xsd:element name="FALSE" type="xsd:int"/>
      <xsd:element name="TRUE" type="xsd:int"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="TweetPacket" type="default:TweetPacket"/>
  <xsd:complexType name="TweetPacket">
    <xsd:sequence>
      <xsd:element name="timestamp" type="xsd:long"/>
      <xsd:element maxOccurs="unbounded" name="tweets" type="default:ArrayList"/>
      <xsd:element maxOccurs="unbounded" name="directmessages" type="default:ArrayList"/>
      <xsd:element name="actualTweetNumber" type="xsd:long"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="TwimightActivity" type="default:TwimightActivity"/>
  <xsd:complexType name="TwimightActivity">
    <xsd:sequence>
      <xsd:element name="TAG" type="xsd:string"/>
      <xsd:element name="mSettings" type="default:SharedPreferences"/>
      <xsd:element name="connHelper" type="default:ConnectionHelper"/>
      <xsd:element name="buttonOAuth" type="default:Button"/>
      <xsd:element name="restartIntent" type="default:PendingIntent"/>
      <xsd:element name="dWindow" type="default:PaintScreen"/>
      <xsd:element name="dataView" type="default:DataView"/>
      <xsd:element name="PREFS_NAME" type="xsd:string"/>
      <xsd:element name="instance" type="default:TwimightActivity"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="Login" type="default:Login"/>
  <xsd:complexType name="Login">
    <xsd:sequence/>
  </xsd:complexType>
  <xsd:element name="GenerateKeys" type="default:GenerateKeys"/>
  <xsd:complexType name="GenerateKeys">
    <xsd:sequence/>
  </xsd:complexType>
  <xsd:element name="DownloadManager" type="default:DownloadManager"/>
  <xsd:complexType name="DownloadManager">
    <xsd:sequence>
      <xsd:element name="stop" type="xsd:boolean"/>
      <xsd:element name="pause" type="xsd:boolean"/>
      <xsd:element name="proceed" type="xsd:boolean"/>
      <xsd:element name="NOT_STARTED" type="xsd:int"/>
      <xsd:element name="CONNECTING" type="xsd:int"/>
      <xsd:element name="CONNECTED" type="xsd:int"/>
      <xsd:element name="PAUSED" type="xsd:int"/>
      <xsd:element name="STOPPED" type="xsd:int"/>
      <xsd:element name="state" type="xsd:int"/>
      <xsd:element name="id" type="xsd:int"/>
      <xsd:element name="todoList" type="default:HashMap"/>
      <xsd:element name="doneList" type="default:HashMap"/>
      <xsd:element name="is" type="default:InputStream"/>
      <xsd:element name="currJobId" type="xsd:string"/>
      <xsd:element name="ctx" type="default:MixContext"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="DownloadRequest" type="default:DownloadRequest"/>
  <xsd:complexType name="DownloadRequest">
    <xsd:sequence>
      <xsd:element name="format" type="default:DATAFORMAT"/>
      <xsd:element name="url" type="xsd:string"/>
      <xsd:element name="params" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="DownloadResult" type="default:DownloadResult"/>
  <xsd:complexType name="DownloadResult">
    <xsd:sequence>
      <xsd:element name="format" type="default:DATAFORMAT"/>
      <xsd:element maxOccurs="unbounded" name="markers" type="default:List"/>
      <xsd:element name="error" type="xsd:boolean"/>
      <xsd:element name="errorMsg" type="xsd:string"/>
      <xsd:element name="errorRequest" type="default:DownloadRequest"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="DisasterOperations" type="default:DisasterOperations"/>
  <xsd:complexType name="DisasterOperations">
    <xsd:sequence>
      <xsd:element name="MESSAGE_READ" type="xsd:int"/>
      <xsd:element name="MESSAGE_DEVICE_NAME" type="xsd:int"/>
      <xsd:element name="MESSAGE_DELAY" type="xsd:int"/>
      <xsd:element name="MESSAGE_TOAST" type="xsd:int"/>
      <xsd:element name="DEVICE_NAME" type="xsd:string"/>
      <xsd:element name="DEVICE_ADDRESS" type="xsd:string"/>
      <xsd:element name="TOAST" type="xsd:string"/>
      <xsd:element name="DEVICE" type="xsd:string"/>
      <xsd:element name="PEERS_MET" type="xsd:string"/>
      <xsd:element name="HELLO_FIRST_PACKET" type="xsd:int"/>
      <xsd:element name="HELLO_SUCC_PACKET" type="xsd:int"/>
      <xsd:element name="DATA_PACKET" type="xsd:int"/>
      <xsd:element name="KEYS_PACKET" type="xsd:int"/>
      <xsd:element name="FALSE" type="xsd:int"/>
      <xsd:element name="TRUE" type="xsd:int"/>
      <xsd:element name="TAG" type="xsd:string"/>
      <xsd:element name="mBlueService" type="default:BluetoothComms"/>
      <xsd:element name="connectToDevices" type="default:ConnectToDevices"/>
      <xsd:element name="cursorDisaster" type="default:Cursor"/>
      <xsd:element name="cursorPeers" type="default:Cursor"/>
      <xsd:element name="mSettings" type="default:SharedPreferences"/>
      <xsd:element name="prefs" type="default:SharedPreferences"/>
      <xsd:element name="numberOfConnAttempts" type="xsd:int"/>
      <xsd:element name="numberOfContacts" type="xsd:int"/>
      <xsd:element name="numberOfTweets" type="xsd:long"/>
      <xsd:element name="connHelper" type="default:ConnectionHelper"/>
      <xsd:element name="isPartialSavingActive" type="xsd:boolean"/>
      <xsd:element name="isFullSavingActive" type="xsd:boolean"/>
      <xsd:element name="notify" type="xsd:boolean"/>
      <xsd:element name="mConnectedDeviceName" type="xsd:string"/>
      <xsd:element name="mConnectedDeviceAddress" type="xsd:string"/>
      <xsd:element maxOccurs="unbounded" name="devicesArrayList" type="default:ArrayList"/>
      <xsd:element name="dbActions" type="default:TweetDbActions"/>
      <xsd:element name="contextActions" type="default:TweetContextActions"/>
      <xsd:element name="wakeLock" type="default:WakeLock"/>
      <xsd:element name="handler" type="default:Handler"/>
      <xsd:element name="peerRequestedClosing" type="xsd:boolean"/>
      <xsd:element name="checkState" type="default:CheckState"/>
      <xsd:element name="startingTime" type="xsd:long"/>
      <xsd:element name="now" type="xsd:long"/>
      <xsd:element name="firstBroadcastTime" type="xsd:long"/>
      <xsd:element name="startingDate" type="xsd:string"/>
      <xsd:element name="mBtAdapter" type="default:BluetoothAdapter"/>
      <xsd:element name="batteryWriter" type="default:FileWriter"/>
      <xsd:element name="logOps" type="default:LogFilesOperations"/>
      <xsd:element name="connTimeout" type="default:ConnectionAttemptTimeout"/>
      <xsd:element name="myUsername" type="xsd:string"/>
      <xsd:element maxOccurs="unbounded" name="pairedDevices" type="default:ArrayList"/>
      <xsd:element name="dbHelper" type="default:DbOpenHelper"/>
      <xsd:element name="connAttemptsSucceded" type="xsd:int"/>
      <xsd:element name="alreadyReceived" type="xsd:boolean"/>
      <xsd:element name="limit" type="xsd:long"/>
      <xsd:element name="mReceiver" type="default:BroadcastReceiver"/>
      <xsd:element name="mHandler" type="default:Handler"/>
      <xsd:element name="mBatInfoReceiver" type="default:BroadcastReceiver"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="CustomExceptionHandler" type="default:CustomExceptionHandler"/>
  <xsd:complexType name="CustomExceptionHandler">
    <xsd:sequence/>
  </xsd:complexType>
  <xsd:element name="ShutDownDelayed" type="default:ShutDownDelayed"/>
  <xsd:complexType name="ShutDownDelayed">
    <xsd:sequence/>
  </xsd:complexType>
  <xsd:element name="CheckState" type="default:CheckState"/>
  <xsd:complexType name="CheckState">
    <xsd:sequence>
      <xsd:element name="delay" type="xsd:int"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="ConnectionAttemptTimeout" type="default:ConnectionAttemptTimeout"/>
  <xsd:complexType name="ConnectionAttemptTimeout">
    <xsd:sequence/>
  </xsd:complexType>
  <xsd:element name="SentMessageTimeout" type="default:SentMessageTimeout"/>
  <xsd:complexType name="SentMessageTimeout">
    <xsd:sequence/>
  </xsd:complexType>
  <xsd:element name="ConnectToDevices" type="default:ConnectToDevices"/>
  <xsd:complexType name="ConnectToDevices">
    <xsd:sequence/>
  </xsd:complexType>
  <xsd:element name="SendClosingRequest" type="default:SendClosingRequest"/>
  <xsd:complexType name="SendClosingRequest">
    <xsd:sequence>
      <xsd:element name="dataPacket" type="default:TweetPacket"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="MentionsActivity" type="default:MentionsActivity"/>
  <xsd:complexType name="MentionsActivity">
    <xsd:sequence>
      <xsd:element name="listMentions" type="default:ListView"/>
      <xsd:element name="mSettings" type="default:SharedPreferences"/>
      <xsd:element name="prefs" type="default:SharedPreferences"/>
      <xsd:element name="connHelper" type="default:ConnectionHelper"/>
      <xsd:element name="isThereConn" type="xsd:boolean"/>
      <xsd:element maxOccurs="unbounded" name="results" type="default:ArrayList"/>
      <xsd:element name="adapter" type="default:TimelineAdapter"/>
      <xsd:element name="cursor" type="default:Cursor"/>
      <xsd:element name="db" type="default:SQLiteDatabase"/>
      <xsd:element name="dbHelper" type="default:DbOpenHelper"/>
      <xsd:element name="alert" type="default:Builder"/>
      <xsd:element name="input" type="default:EditText"/>
      <xsd:element name="inputDirect" type="default:EditText"/>
      <xsd:element name="dbActions" type="default:TweetDbActions"/>
      <xsd:element name="contextActions" type="default:TweetContextActions"/>
      <xsd:element name="destinationUsername" type="xsd:string"/>
      <xsd:element name="notificationManager" type="default:NotificationManager"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="UserInfoActivity" type="default:UserInfoActivity"/>
  <xsd:complexType name="UserInfoActivity">
    <xsd:sequence>
      <xsd:element name="UNFOLLOW_ID" type="xsd:int"/>
      <xsd:element name="FOLLOW_ID" type="xsd:int"/>
      <xsd:element name="SEND_ID" type="xsd:int"/>
      <xsd:element name="DIRECT_ID" type="xsd:int"/>
      <xsd:element name="username" type="xsd:string"/>
      <xsd:element maxOccurs="unbounded" name="screenNamesList" type="default:ArrayList"/>
      <xsd:element maxOccurs="unbounded" name="userList" type="default:ArrayList"/>
      <xsd:element name="theImage" type="default:Bitmap"/>
      <xsd:element name="isFollowing" type="xsd:boolean"/>
      <xsd:element name="intent" type="default:Intent"/>
      <xsd:element name="alert" type="default:Builder"/>
      <xsd:element name="input" type="default:EditText"/>
      <xsd:element name="inputDirect" type="default:EditText"/>
      <xsd:element name="dbActions" type="default:TweetDbActions"/>
      <xsd:element name="mSettings" type="default:SharedPreferences"/>
      <xsd:element name="prefs" type="default:SharedPreferences"/>
      <xsd:element name="connec" type="default:ConnectivityManager"/>
      <xsd:element name="connHelper" type="default:ConnectionHelper"/>
      <xsd:element name="TAG" type="xsd:string"/>
      <xsd:element name="directMsgSentReceiver" type="default:BroadcastReceiver"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="RetrieveProfile" type="default:RetrieveProfile"/>
  <xsd:complexType name="RetrieveProfile">
    <xsd:sequence>
      <xsd:element name="postDialog" type="default:ProgressDialog"/>
      <xsd:element name="imageByteArray" type="xsd:byte"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="RetrieveFigure" type="default:RetrieveFigure"/>
  <xsd:complexType name="RetrieveFigure">
    <xsd:sequence/>
  </xsd:complexType>
  <xsd:element name="PrefsActivity" type="default:PrefsActivity"/>
  <xsd:complexType name="PrefsActivity">
    <xsd:sequence>
      <xsd:element name="mSettings" type="default:SharedPreferences"/>
      <xsd:element name="prefs" type="default:SharedPreferences"/>
      <xsd:element name="prefListener" type="default:OnSharedPreferenceChangeListener"/>
      <xsd:element name="connHelper" type="default:ConnectionHelper"/>
      <xsd:element name="mBluetoothAdapter" type="default:BluetoothAdapter"/>
      <xsd:element name="mEditTextUsername" type="default:EditTextPreference"/>
      <xsd:element name="prova" type="xsd:string"/>
      <xsd:element name="userName" type="xsd:string"/>
      <xsd:element name="BLUE_ENABLED" type="xsd:int"/>
      <xsd:element name="DIS_MODE_DISABLED" type="xsd:int"/>
      <xsd:element name="REQUEST_DISCOVERABLE" type="xsd:int"/>
      <xsd:element name="DEVICE_MAC" type="xsd:string"/>
      <xsd:element name="TAG" type="xsd:string"/>
      <xsd:element name="isAutomatic" type="xsd:boolean"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="GetAuthenticatingUsername" type="default:GetAuthenticatingUsername"/>
  <xsd:complexType name="GetAuthenticatingUsername">
    <xsd:sequence/>
  </xsd:complexType>
  <xsd:element name="MixView" type="default:MixView"/>
  <xsd:complexType name="MixView">
    <xsd:sequence>
      <xsd:element name="instance" type="default:MixView"/>
      <xsd:element name="camScreen" type="default:CameraSurface"/>
      <xsd:element name="augScreen" type="default:AugmentedView"/>
      <xsd:element name="isInited" type="xsd:boolean"/>
      <xsd:element name="mixContext" type="default:MixContext"/>
      <xsd:element name="dWindow" type="default:PaintScreen"/>
      <xsd:element name="dataView" type="default:DataView"/>
      <xsd:element name="downloadThread" type="default:Thread"/>
      <xsd:element name="RTmp" type="xsd:float"/>
      <xsd:element name="Rot" type="xsd:float"/>
      <xsd:element name="I" type="xsd:float"/>
      <xsd:element name="grav" type="xsd:float"/>
      <xsd:element name="mag" type="xsd:float"/>
      <xsd:element name="sensorMgr" type="default:SensorManager"/>
      <xsd:element maxOccurs="unbounded" name="sensors" type="default:List"/>
      <xsd:element name="sensorGrav" type="default:Sensor"/>
      <xsd:element name="sensorMag" type="default:Sensor"/>
      <xsd:element name="locationMgr" type="default:LocationManager"/>
      <xsd:element name="isGpsEnabled" type="xsd:boolean"/>
      <xsd:element name="rHistIdx" type="xsd:int"/>
      <xsd:element name="tempR" type="default:Matrix"/>
      <xsd:element name="finalR" type="default:Matrix"/>
      <xsd:element name="smoothR" type="default:Matrix"/>
      <xsd:element name="histR" type="default:Matrix"/>
      <xsd:element name="m1" type="default:Matrix"/>
      <xsd:element name="m2" type="default:Matrix"/>
      <xsd:element name="m3" type="default:Matrix"/>
      <xsd:element name="m4" type="default:Matrix"/>
      <xsd:element name="myZoomBar" type="default:SeekBar"/>
      <xsd:element name="mWakeLock" type="default:WakeLock"/>
      <xsd:element name="fError" type="xsd:boolean"/>
      <xsd:element name="zoomLevel" type="xsd:string"/>
      <xsd:element name="zoomProgress" type="xsd:int"/>
      <xsd:element name="mSettings" type="default:SharedPreferences"/>
      <xsd:element name="connHelper" type="default:ConnectionHelper"/>
      <xsd:element name="buttonOAuth" type="default:Button"/>
      <xsd:element name="restartIntent" type="default:PendingIntent"/>
      <xsd:element name="searchNotificationTxt" type="default:TextView"/>
      <xsd:element name="TAG" type="xsd:string"/>
      <xsd:element name="PREFS_NAME" type="xsd:string"/>
      <xsd:element name="myZoomBarOnSeekBarChangeListener" type="default:OnSeekBarChangeListener"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="CameraSurface" type="default:CameraSurface"/>
  <xsd:complexType name="CameraSurface">
    <xsd:sequence>
      <xsd:element name="app" type="default:MixView"/>
      <xsd:element name="holder" type="default:SurfaceHolder"/>
      <xsd:element name="camera" type="default:Camera"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="AugmentedView" type="default:AugmentedView"/>
  <xsd:complexType name="AugmentedView">
    <xsd:sequence>
      <xsd:element name="app" type="default:MixView"/>
      <xsd:element name="xSearch" type="xsd:int"/>
      <xsd:element name="ySearch" type="xsd:int"/>
      <xsd:element name="searchObjWidth" type="xsd:int"/>
      <xsd:element name="searchObjHeight" type="xsd:int"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="SignedTweet" type="default:SignedTweet"/>
  <xsd:complexType name="SignedTweet">
    <xsd:sequence>
      <xsd:element name="publicKey" type="default:RSAPublicKey"/>
      <xsd:element name="signature" type="xsd:byte"/>
      <xsd:element name="id" type="xsd:long"/>
      <xsd:element name="created" type="xsd:long"/>
      <xsd:element name="userId" type="xsd:long"/>
      <xsd:element name="status" type="xsd:string"/>
      <xsd:element name="user" type="xsd:string"/>
      <xsd:element name="hopCount" type="xsd:int"/>
      <xsd:element name="isFromServer" type="xsd:int"/>
      <xsd:element name="hasBeenSent" type="xsd:int"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="Json" type="default:Json"/>
  <xsd:complexType name="Json">
    <xsd:sequence>
      <xsd:element name="MAX_JSON_OBJECTS" type="xsd:int"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="XMLHandler" type="default:XMLHandler"/>
  <xsd:complexType name="XMLHandler">
    <xsd:sequence/>
  </xsd:complexType>
  <xsd:element name="DataSource" type="default:DataSource"/>
  <xsd:complexType name="DataSource">
    <xsd:sequence>
      <xsd:element name="WIKI_BASE_URL" type="xsd:string"/>
      <xsd:element name="TWITTER_BASE_URL" type="xsd:string"/>
      <xsd:element name="BUZZ_BASE_URL" type="xsd:string"/>
      <xsd:element name="OSM_BASE_URL" type="xsd:string"/>
      <xsd:element name="twitterIcon" type="default:Bitmap"/>
      <xsd:element name="buzzIcon" type="default:Bitmap"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="DATASOURCE" type="default:DATASOURCE"/>
  <xsd:complexType name="DATASOURCE">
    <xsd:choice>
      <xsd:element name="WIKIPEDIA"/>
      <xsd:element name="BUZZ"/>
      <xsd:element name="TWITTER"/>
      <xsd:element name="OSM"/>
      <xsd:element name="OWNURL"/>
    </xsd:choice>
  </xsd:complexType>
  <xsd:element name="DATAFORMAT" type="default:DATAFORMAT"/>
  <xsd:complexType name="DATAFORMAT">
    <xsd:choice>
      <xsd:element name="WIKIPEDIA"/>
      <xsd:element name="BUZZ"/>
      <xsd:element name="TWITTER"/>
      <xsd:element name="OSM"/>
      <xsd:element name="MIXARE"/>
    </xsd:choice>
  </xsd:complexType>
  <xsd:element name="DataHandler" type="default:DataHandler"/>
  <xsd:complexType name="DataHandler">
    <xsd:sequence>
      <xsd:element maxOccurs="unbounded" name="markerList" type="default:List"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="TextObj" type="default:TextObj"/>
  <xsd:complexType name="TextObj">
    <xsd:sequence>
      <xsd:element name="txt" type="xsd:string"/>
      <xsd:element name="fontSize" type="xsd:float"/>
      <xsd:element name="width" type="xsd:float"/>
      <xsd:element name="height" type="xsd:float"/>
      <xsd:element name="areaWidth" type="xsd:float"/>
      <xsd:element name="areaHeight" type="xsd:float"/>
      <xsd:element name="lines" type="xsd:string"/>
      <xsd:element name="lineWidths" type="xsd:float"/>
      <xsd:element name="lineHeight" type="xsd:float"/>
      <xsd:element name="maxLineWidth" type="xsd:float"/>
      <xsd:element name="pad" type="xsd:float"/>
      <xsd:element name="borderColor" type="xsd:int"/>
      <xsd:element name="bgColor" type="xsd:int"/>
      <xsd:element name="textColor" type="xsd:int"/>
      <xsd:element name="textShadowColor" type="xsd:int"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:simpleType name="ScreenObj">
    <xsd:restriction base="xsd:string"/>
  </xsd:simpleType>
  <xsd:element name="ScreenLine" type="default:ScreenLine"/>
  <xsd:complexType name="ScreenLine">
    <xsd:sequence>
      <xsd:element name="x" type="xsd:float"/>
      <xsd:element name="y" type="xsd:float"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="RadarPoints" type="default:RadarPoints"/>
  <xsd:complexType name="RadarPoints">
    <xsd:sequence>
      <xsd:element name="view" type="default:DataView"/>
      <xsd:element name="range" type="xsd:float"/>
      <xsd:element name="RADIUS" type="xsd:float"/>
      <xsd:element name="originX" type="xsd:float"/>
      <xsd:element name="originY" type="xsd:float"/>
      <xsd:element name="radarColor" type="xsd:int"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="PaintScreen" type="default:PaintScreen"/>
  <xsd:complexType name="PaintScreen">
    <xsd:sequence>
      <xsd:element name="canvas" type="default:Canvas"/>
      <xsd:element name="width" type="xsd:int"/>
      <xsd:element name="height" type="xsd:int"/>
      <xsd:element name="paint" type="default:Paint"/>
      <xsd:element name="bPaint" type="default:Paint"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="PhysicalPlace" type="default:PhysicalPlace"/>
  <xsd:complexType name="PhysicalPlace">
    <xsd:sequence>
      <xsd:element name="latitude" type="xsd:double"/>
      <xsd:element name="longitude" type="xsd:double"/>
      <xsd:element name="altitude" type="xsd:double"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="R" type="default:R"/>
  <xsd:complexType name="R">
    <xsd:sequence/>
  </xsd:complexType>
  <xsd:element name="array" type="default:array"/>
  <xsd:complexType name="array">
    <xsd:sequence>
      <xsd:element name="nrTweetArray" type="xsd:int"/>
      <xsd:element name="nrTweetValues" type="xsd:int"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="attr" type="default:attr"/>
  <xsd:complexType name="attr">
    <xsd:sequence/>
  </xsd:complexType>
  <xsd:element name="color" type="default:color"/>
  <xsd:complexType name="color">
    <xsd:sequence>
      <xsd:element name="darkBlue" type="xsd:int"/>
      <xsd:element name="green" type="xsd:int"/>
      <xsd:element name="highlight_strong" type="xsd:int"/>
      <xsd:element name="highlight_weak" type="xsd:int"/>
      <xsd:element name="title" type="xsd:int"/>
      <xsd:element name="titledisasterbackgroundcolor" type="xsd:int"/>
      <xsd:element name="titlenormalbackgroundcolor" type="xsd:int"/>
      <xsd:element name="titletextcolor" type="xsd:int"/>
      <xsd:element name="transparentBlue" type="xsd:int"/>
      <xsd:element name="white" type="xsd:int"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="drawable" type="default:drawable"/>
  <xsd:complexType name="drawable">
    <xsd:sequence>
      <xsd:element name="blank" type="xsd:int"/>
      <xsd:element name="buttonbg" type="xsd:int"/>
      <xsd:element name="buzz" type="xsd:int"/>
      <xsd:element name="default_profile" type="xsd:int"/>
      <xsd:element name="favorite" type="xsd:int"/>
      <xsd:element name="ic_delete" type="xsd:int"/>
      <xsd:element name="ic_menu_agenda" type="xsd:int"/>
      <xsd:element name="ic_menu_allfriends" type="xsd:int"/>
      <xsd:element name="ic_menu_block" type="xsd:int"/>
      <xsd:element name="ic_menu_cc" type="xsd:int"/>
      <xsd:element name="ic_menu_compose" type="xsd:int"/>
      <xsd:element name="ic_menu_delete" type="xsd:int"/>
      <xsd:element name="ic_menu_forward" type="xsd:int"/>
      <xsd:element name="ic_menu_friendslist" type="xsd:int"/>
      <xsd:element name="ic_menu_home" type="xsd:int"/>
      <xsd:element name="ic_menu_preferences" type="xsd:int"/>
      <xsd:element name="ic_menu_refresh" type="xsd:int"/>
      <xsd:element name="ic_menu_revert" type="xsd:int"/>
      <xsd:element name="ic_menu_search" type="xsd:int"/>
      <xsd:element name="ic_menu_send" type="xsd:int"/>
      <xsd:element name="icon" type="xsd:int"/>
      <xsd:element name="icon_datasource" type="xsd:int"/>
      <xsd:element name="icon_edit" type="xsd:int"/>
      <xsd:element name="icon_map" type="xsd:int"/>
      <xsd:element name="icon_white" type="xsd:int"/>
      <xsd:element name="icon_white1" type="xsd:int"/>
      <xsd:element name="loc_icon" type="xsd:int"/>
      <xsd:element name="twitter" type="xsd:int"/>
      <xsd:element name="twitter_icon" type="xsd:int"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="id" type="default:id"/>
  <xsd:complexType name="id">
    <xsd:sequence>
      <xsd:element name="buttonCancelDirect" type="xsd:int"/>
      <xsd:element name="buttonOAuth" type="xsd:int"/>
      <xsd:element name="buttonSendDirect" type="xsd:int"/>
      <xsd:element name="descrTextView" type="xsd:int"/>
      <xsd:element name="description_text" type="xsd:int"/>
      <xsd:element name="exit" type="xsd:int"/>
      <xsd:element name="favorite" type="xsd:int"/>
      <xsd:element name="favouritesTextView" type="xsd:int"/>
      <xsd:element name="followersTextView" type="xsd:int"/>
      <xsd:element name="friendsImage" type="xsd:int"/>
      <xsd:element name="friendsText" type="xsd:int"/>
      <xsd:element name="friendsTextView" type="xsd:int"/>
      <xsd:element name="icon" type="xsd:int"/>
      <xsd:element name="imageUser" type="xsd:int"/>
      <xsd:element name="imageView1" type="xsd:int"/>
      <xsd:element name="itemList" type="xsd:int"/>
      <xsd:element name="linearLayout1" type="xsd:int"/>
      <xsd:element name="linearLayout2" type="xsd:int"/>
      <xsd:element name="list_checkbox" type="xsd:int"/>
      <xsd:element name="list_text" type="xsd:int"/>
      <xsd:element name="listsTextView" type="xsd:int"/>
      <xsd:element name="menuFavorites" type="xsd:int"/>
      <xsd:element name="menuFriends" type="xsd:int"/>
      <xsd:element name="menuPrefs" type="xsd:int"/>
      <xsd:element name="menuRefresh" type="xsd:int"/>
      <xsd:element name="menuShowDisasterDb" type="xsd:int"/>
      <xsd:element name="menuTweet" type="xsd:int"/>
      <xsd:element name="menu_clear" type="xsd:int"/>
      <xsd:element name="msgEditText" type="xsd:int"/>
      <xsd:element name="nameTextView" type="xsd:int"/>
      <xsd:element name="rowLayout" type="xsd:int"/>
      <xsd:element name="row_layout" type="xsd:int"/>
      <xsd:element name="scrollView1" type="xsd:int"/>
      <xsd:element name="textCreatedAt" type="xsd:int"/>
      <xsd:element name="textText" type="xsd:int"/>
      <xsd:element name="textUser" type="xsd:int"/>
      <xsd:element name="textView1" type="xsd:int"/>
      <xsd:element name="textView2" type="xsd:int"/>
      <xsd:element name="tweetsTextView" type="xsd:int"/>
      <xsd:element name="userEditText" type="xsd:int"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="layout" type="default:layout"/>
  <xsd:complexType name="layout">
    <xsd:sequence>
      <xsd:element name="friendsrow" type="xsd:int"/>
      <xsd:element name="main" type="xsd:int"/>
      <xsd:element name="row" type="xsd:int"/>
      <xsd:element name="senddirectmsg" type="xsd:int"/>
      <xsd:element name="simplelist" type="xsd:int"/>
      <xsd:element name="userprofile" type="xsd:int"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="menu" type="default:menu"/>
  <xsd:complexType name="menu">
    <xsd:sequence>
      <xsd:element name="menu" type="xsd:int"/>
      <xsd:element name="menu_disaster_db" type="xsd:int"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="string" type="default:string"/>
  <xsd:complexType name="string">
    <xsd:sequence>
      <xsd:element name="E" type="xsd:int"/>
      <xsd:element name="N" type="xsd:int"/>
      <xsd:element name="NE" type="xsd:int"/>
      <xsd:element name="NW" type="xsd:int"/>
      <xsd:element name="S" type="xsd:int"/>
      <xsd:element name="SE" type="xsd:int"/>
      <xsd:element name="SW" type="xsd:int"/>
      <xsd:element name="W" type="xsd:int"/>
      <xsd:element name="accuracy" type="xsd:int"/>
      <xsd:element name="altitude" type="xsd:int"/>
      <xsd:element name="app_name" type="xsd:int"/>
      <xsd:element name="close_button" type="xsd:int"/>
      <xsd:element name="connection_GPS_dialog_button1" type="xsd:int"/>
      <xsd:element name="connection_GPS_dialog_button2" type="xsd:int"/>
      <xsd:element name="connection_GPS_dialog_text" type="xsd:int"/>
      <xsd:element name="connection_error_dialog" type="xsd:int"/>
      <xsd:element name="connection_error_dialog_button1" type="xsd:int"/>
      <xsd:element name="connection_error_dialog_button2" type="xsd:int"/>
      <xsd:element name="connection_error_dialog_button3" type="xsd:int"/>
      <xsd:element name="data_source_change_buzz" type="xsd:int"/>
      <xsd:element name="data_source_change_osm" type="xsd:int"/>
      <xsd:element name="data_source_change_twitter" type="xsd:int"/>
      <xsd:element name="data_source_change_wikipedia" type="xsd:int"/>
      <xsd:element name="download_error" type="xsd:int"/>
      <xsd:element name="download_received" type="xsd:int"/>
      <xsd:element name="empty_list" type="xsd:int"/>
      <xsd:element name="friends_label" type="xsd:int"/>
      <xsd:element name="general_info_text" type="xsd:int"/>
      <xsd:element name="general_info_title" type="xsd:int"/>
      <xsd:element name="gps_last_fix" type="xsd:int"/>
      <xsd:element name="labelOAuth" type="xsd:int"/>
      <xsd:element name="labelTimeline" type="xsd:int"/>
      <xsd:element name="latitude" type="xsd:int"/>
      <xsd:element name="license" type="xsd:int"/>
      <xsd:element name="license_title" type="xsd:int"/>
      <xsd:element name="longitude" type="xsd:int"/>
      <xsd:element name="map_current_location_click" type="xsd:int"/>
      <xsd:element name="map_menu_cam_mode" type="xsd:int"/>
      <xsd:element name="map_menu_normal_mode" type="xsd:int"/>
      <xsd:element name="map_menu_satellite_mode" type="xsd:int"/>
      <xsd:element name="map_my_location" type="xsd:int"/>
      <xsd:element name="menu_item_1" type="xsd:int"/>
      <xsd:element name="menu_item_2" type="xsd:int"/>
      <xsd:element name="menu_item_3" type="xsd:int"/>
      <xsd:element name="menu_item_4" type="xsd:int"/>
      <xsd:element name="menu_item_5" type="xsd:int"/>
      <xsd:element name="menu_item_6" type="xsd:int"/>
      <xsd:element name="menu_item_7" type="xsd:int"/>
      <xsd:element name="no_website_available" type="xsd:int"/>
      <xsd:element name="oauth_name" type="xsd:int"/>
      <xsd:element name="option_not_available" type="xsd:int"/>
      <xsd:element name="permDescription" type="xsd:int"/>
      <xsd:element name="searchHint" type="xsd:int"/>
      <xsd:element name="search_active_1" type="xsd:int"/>
      <xsd:element name="search_active_2" type="xsd:int"/>
      <xsd:element name="search_failed_notification" type="xsd:int"/>
      <xsd:element name="search_hint" type="xsd:int"/>
      <xsd:element name="source_openstreetmap" type="xsd:int"/>
      <xsd:element name="speed" type="xsd:int"/>
      <xsd:element name="sql" type="xsd:int"/>
      <xsd:element name="sqlAddresses" type="xsd:int"/>
      <xsd:element name="sqlDirect" type="xsd:int"/>
      <xsd:element name="sqlDirectOutgoing" type="xsd:int"/>
      <xsd:element name="sqlDisaster" type="xsd:int"/>
      <xsd:element name="sqlFavorites" type="xsd:int"/>
      <xsd:element name="sqlFriends" type="xsd:int"/>
      <xsd:element name="sqlMentions" type="xsd:int"/>
      <xsd:element name="sqlProfilePictures" type="xsd:int"/>
      <xsd:element name="sqlSearch" type="xsd:int"/>
      <xsd:element name="timeline_label" type="xsd:int"/>
      <xsd:element name="titleExit" type="xsd:int"/>
      <xsd:element name="titlePrefs" type="xsd:int"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="style" type="default:style"/>
  <xsd:complexType name="style">
    <xsd:sequence>
      <xsd:element name="Button" type="xsd:int"/>
      <xsd:element name="WindowTitleDisasterBackground" type="xsd:int"/>
      <xsd:element name="WindowTitleNormalBackground" type="xsd:int"/>
      <xsd:element name="title" type="xsd:int"/>
      <xsd:element name="twimightDisasterTheme" type="xsd:int"/>
      <xsd:element name="twimightTheme" type="xsd:int"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="xml" type="default:xml"/>
  <xsd:complexType name="xml">
    <xsd:sequence>
      <xsd:element name="prefs" type="xsd:int"/>
      <xsd:element name="searchable" type="xsd:int"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="Matrix" type="default:Matrix"/>
  <xsd:complexType name="Matrix">
    <xsd:sequence>
      <xsd:element name="a1" type="xsd:float"/>
      <xsd:element name="a2" type="xsd:float"/>
      <xsd:element name="a3" type="xsd:float"/>
      <xsd:element name="b1" type="xsd:float"/>
      <xsd:element name="b2" type="xsd:float"/>
      <xsd:element name="b3" type="xsd:float"/>
      <xsd:element name="c1" type="xsd:float"/>
      <xsd:element name="c2" type="xsd:float"/>
      <xsd:element name="c3" type="xsd:float"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="MixVector" type="default:MixVector"/>
  <xsd:complexType name="MixVector">
    <xsd:sequence>
      <xsd:element name="x" type="xsd:float"/>
      <xsd:element name="y" type="xsd:float"/>
      <xsd:element name="z" type="xsd:float"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="Camera" type="default:Camera"/>
  <xsd:complexType name="Camera">
    <xsd:sequence>
      <xsd:element name="DEFAULT_VIEW_ANGLE" type="xsd:float"/>
      <xsd:element name="width" type="xsd:int"/>
      <xsd:element name="height" type="xsd:int"/>
      <xsd:element name="transform" type="default:Matrix"/>
      <xsd:element name="lco" type="default:MixVector"/>
      <xsd:element name="viewAngle" type="xsd:float"/>
      <xsd:element name="dist" type="xsd:float"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:simpleType name="Bitmap">
    <xsd:restriction base="xsd:string"/>
  </xsd:simpleType>
  <xsd:simpleType name="BitmapFactory">
    <xsd:restriction base="xsd:string"/>
  </xsd:simpleType>
  <xsd:simpleType name="Color">
    <xsd:restriction base="xsd:string"/>
  </xsd:simpleType>
  <xsd:simpleType name="Drawable">
    <xsd:restriction base="xsd:string"/>
  </xsd:simpleType>
  <xsd:simpleType name="Path">
    <xsd:restriction base="xsd:string"/>
  </xsd:simpleType>
  <xsd:simpleType name="Canvas">
    <xsd:restriction base="xsd:string"/>
  </xsd:simpleType>
  <xsd:simpleType name="Paint">
    <xsd:restriction base="xsd:string"/>
  </xsd:simpleType>
  <xsd:simpleType name="Location">
    <xsd:restriction base="xsd:string"/>
  </xsd:simpleType>
  <xsd:simpleType name="LocationManager">
    <xsd:restriction base="xsd:string"/>
  </xsd:simpleType>
  <xsd:simpleType name="Criteria">
    <xsd:restriction base="xsd:string"/>
  </xsd:simpleType>
  <xsd:simpleType name="LocationListener">
    <xsd:restriction base="xsd:string"/>
  </xsd:simpleType>
  <xsd:simpleType name="Service">
    <xsd:restriction base="xsd:string"/>
  </xsd:simpleType>
  <xsd:simpleType name="Activity">
    <xsd:restriction base="xsd:string"/>
  </xsd:simpleType>
  <xsd:simpleType name="AlertDialog">
    <xsd:restriction base="xsd:string"/>
  </xsd:simpleType>
  <xsd:simpleType name="Dialog">
    <xsd:restriction base="xsd:string"/>
  </xsd:simpleType>
  <xsd:simpleType name="NotificationManager">
    <xsd:restriction base="xsd:string"/>
  </xsd:simpleType>
  <xsd:simpleType name="PendingIntent">
    <xsd:restriction base="xsd:string"/>
  </xsd:simpleType>
  <xsd:simpleType name="ProgressDialog">
    <xsd:restriction base="xsd:string"/>
  </xsd:simpleType>
  <xsd:simpleType name="ListActivity">
    <xsd:restriction base="xsd:string"/>
  </xsd:simpleType>
  <xsd:simpleType name="SearchManager">
    <xsd:restriction base="xsd:string"/>
  </xsd:simpleType>
  <xsd:simpleType name="Notification">
    <xsd:restriction base="xsd:string"/>
  </xsd:simpleType>
  <xsd:simpleType name="ActivityManager">
    <xsd:restriction base="xsd:string"/>
  </xsd:simpleType>
  <xsd:simpleType name="RunningServiceInfo">
    <xsd:restriction base="xsd:string"/>
  </xsd:simpleType>
  <xsd:simpleType name="AlarmManager">
    <xsd:restriction base="xsd:string"/>
  </xsd:simpleType>
  <xsd:simpleType name="BluetoothAdapter">
    <xsd:restriction base="xsd:string"/>
  </xsd:simpleType>
  <xsd:simpleType name="BluetoothDevice">
    <xsd:restriction base="xsd:string"/>
  </xsd:simpleType>
  <xsd:simpleType name="BluetoothServerSocket">
    <xsd:restriction base="xsd:string"/>
  </xsd:simpleType>
  <xsd:simpleType name="BluetoothSocket">
    <xsd:restriction base="xsd:string"/>
  </xsd:simpleType>
  <xsd:simpleType name="BluetoothClass">
    <xsd:restriction base="xsd:string"/>
  </xsd:simpleType>
  <xsd:simpleType name="Context">
    <xsd:restriction base="xsd:string"/>
  </xsd:simpleType>
  <xsd:simpleType name="Intent">
    <xsd:restriction base="xsd:string"/>
  </xsd:simpleType>
  <xsd:simpleType name="BroadcastReceiver">
    <xsd:restriction base="xsd:string"/>
  </xsd:simpleType>
  <xsd:simpleType name="ContentValues">
    <xsd:restriction base="xsd:string"/>
  </xsd:simpleType>
  <xsd:simpleType name="DialogInterface">
    <xsd:restriction base="xsd:string"/>
  </xsd:simpleType>
  <xsd:simpleType name="IntentFilter">
    <xsd:restriction base="xsd:string"/>
  </xsd:simpleType>
  <xsd:simpleType name="SharedPreferences">
    <xsd:restriction base="xsd:string"/>
  </xsd:simpleType>
  <xsd:simpleType name="OnClickListener">
    <xsd:restriction base="xsd:string"/>
  </xsd:simpleType>
  <xsd:simpleType name="ContentResolver">
    <xsd:restriction base="xsd:string"/>
  </xsd:simpleType>
  <xsd:simpleType name="ContextWrapper">
    <xsd:restriction base="xsd:string"/>
  </xsd:simpleType>
  <xsd:simpleType name="AssetManager">
    <xsd:restriction base="xsd:string"/>
  </xsd:simpleType>
  <xsd:simpleType name="Resources">
    <xsd:restriction base="xsd:string"/>
  </xsd:simpleType>
  <xsd:simpleType name="OnSharedPreferenceChangeListener">
    <xsd:restriction base="xsd:string"/>
  </xsd:simpleType>
  <xsd:simpleType name="Handler">
    <xsd:restriction base="xsd:string"/>
  </xsd:simpleType>
  <xsd:simpleType name="IBinder">
    <xsd:restriction base="xsd:string"/>
  </xsd:simpleType>
  <xsd:simpleType name="PowerManager">
    <xsd:restriction base="xsd:string"/>
  </xsd:simpleType>
  <xsd:simpleType name="WakeLock">
    <xsd:restriction base="xsd:string"/>
  </xsd:simpleType>
  <xsd:simpleType name="AsyncTask">
    <xsd:restriction base="xsd:string"/>
  </xsd:simpleType>
  <xsd:simpleType name="Bundle">
    <xsd:restriction base="xsd:string"/>
  </xsd:simpleType>
  <xsd:simpleType name="Message">
    <xsd:restriction base="xsd:string"/>
  </xsd:simpleType>
  <xsd:simpleType name="Environment">
    <xsd:restriction base="xsd:string"/>
  </xsd:simpleType>
  <xsd:simpleType name="Log">
    <xsd:restriction base="xsd:string"/>
  </xsd:simpleType>
  <xsd:simpleType name="Cursor">
    <xsd:restriction base="xsd:string"/>
  </xsd:simpleType>
  <xsd:simpleType name="SQLiteDatabase">
    <xsd:restriction base="xsd:string"/>
  </xsd:simpleType>
  <xsd:simpleType name="SQLiteOpenHelper">
    <xsd:restriction base="xsd:string"/>
  </xsd:simpleType>
  <xsd:simpleType name="SQLException">
    <xsd:restriction base="xsd:string"/>
  </xsd:simpleType>
  <xsd:simpleType name="ConnectivityManager">
    <xsd:restriction base="xsd:string"/>
  </xsd:simpleType>
  <xsd:simpleType name="Uri">
    <xsd:restriction base="xsd:string"/>
  </xsd:simpleType>
  <xsd:simpleType name="NetworkInfo">
    <xsd:restriction base="xsd:string"/>
  </xsd:simpleType>
  <xsd:simpleType name="PreferenceManager">
    <xsd:restriction base="xsd:string"/>
  </xsd:simpleType>
  <xsd:simpleType name="CheckBoxPreference">
    <xsd:restriction base="xsd:string"/>
  </xsd:simpleType>
  <xsd:simpleType name="EditTextPreference">
    <xsd:restriction base="xsd:string"/>
  </xsd:simpleType>
  <xsd:simpleType name="PreferenceActivity">
    <xsd:restriction base="xsd:string"/>
  </xsd:simpleType>
  <xsd:simpleType name="Settings">
    <xsd:restriction base="xsd:string"/>
  </xsd:simpleType>
  <xsd:simpleType name="ContextMenu">
    <xsd:restriction base="xsd:string"/>
  </xsd:simpleType>
  <xsd:simpleType name="Menu">
    <xsd:restriction base="xsd:string"/>
  </xsd:simpleType>
  <xsd:simpleType name="MenuItem">
    <xsd:restriction base="xsd:string"/>
  </xsd:simpleType>
  <xsd:simpleType name="View">
    <xsd:restriction base="xsd:string"/>
  </xsd:simpleType>
  <xsd:simpleType name="ContextMenuInfo">
    <xsd:restriction base="xsd:string"/>
  </xsd:simpleType>
  <xsd:simpleType name="LayoutInflater">
    <xsd:restriction base="xsd:string"/>
  </xsd:simpleType>
  <xsd:simpleType name="MotionEvent">
    <xsd:restriction base="xsd:string"/>
  </xsd:simpleType>
  <xsd:simpleType name="ViewGroup">
    <xsd:restriction base="xsd:string"/>
  </xsd:simpleType>
  <xsd:simpleType name="OnCreateContextMenuListener">
    <xsd:restriction base="xsd:string"/>
  </xsd:simpleType>
  <xsd:simpleType name="OnTouchListener">
    <xsd:restriction base="xsd:string"/>
  </xsd:simpleType>
  <xsd:simpleType name="KEYCODE_CAMERA">
    <xsd:restriction base="xsd:string"/>
  </xsd:simpleType>
  <xsd:simpleType name="KEYCODE_DPAD_DOWN">
    <xsd:restriction base="xsd:string"/>
  </xsd:simpleType>
  <xsd:simpleType name="KEYCODE_DPAD_LEFT">
    <xsd:restriction base="xsd:string"/>
  </xsd:simpleType>
  <xsd:simpleType name="KEYCODE_DPAD_RIGHT">
    <xsd:restriction base="xsd:string"/>
  </xsd:simpleType>
  <xsd:simpleType name="KEYCODE_DPAD_UP">
    <xsd:restriction base="xsd:string"/>
  </xsd:simpleType>
  <xsd:simpleType name="LayoutParams">
    <xsd:restriction base="xsd:string"/>
  </xsd:simpleType>
  <xsd:simpleType name="Gravity">
    <xsd:restriction base="xsd:string"/>
  </xsd:simpleType>
  <xsd:simpleType name="Window">
    <xsd:restriction base="xsd:string"/>
  </xsd:simpleType>
  <xsd:simpleType name="SurfaceHolder">
    <xsd:restriction base="xsd:string"/>
  </xsd:simpleType>
  <xsd:simpleType name="SurfaceView">
    <xsd:restriction base="xsd:string"/>
  </xsd:simpleType>
  <xsd:simpleType name="EditText">
    <xsd:restriction base="xsd:string"/>
  </xsd:simpleType>
  <xsd:simpleType name="ListView">
    <xsd:restriction base="xsd:string"/>
  </xsd:simpleType>
  <xsd:simpleType name="Toast">
    <xsd:restriction base="xsd:string"/>
  </xsd:simpleType>
  <xsd:simpleType name="AdapterContextMenuInfo">
    <xsd:restriction base="xsd:string"/>
  </xsd:simpleType>
  <xsd:simpleType name="OnItemClickListener">
    <xsd:restriction base="xsd:string"/>
  </xsd:simpleType>
  <xsd:simpleType name="ImageView">
    <xsd:restriction base="xsd:string"/>
  </xsd:simpleType>
  <xsd:simpleType name="SimpleCursorAdapter">
    <xsd:restriction base="xsd:string"/>
  </xsd:simpleType>
  <xsd:simpleType name="ArrayAdapter">
    <xsd:restriction base="xsd:string"/>
  </xsd:simpleType>
  <xsd:simpleType name="BaseAdapter">
    <xsd:restriction base="xsd:string"/>
  </xsd:simpleType>
  <xsd:simpleType name="CheckBox">
    <xsd:restriction base="xsd:string"/>
  </xsd:simpleType>
  <xsd:simpleType name="CompoundButton">
    <xsd:restriction base="xsd:string"/>
  </xsd:simpleType>
  <xsd:simpleType name="TextView">
    <xsd:restriction base="xsd:string"/>
  </xsd:simpleType>
  <xsd:simpleType name="FrameLayout">
    <xsd:restriction base="xsd:string"/>
  </xsd:simpleType>
  <xsd:simpleType name="AdapterView">
    <xsd:restriction base="xsd:string"/>
  </xsd:simpleType>
  <xsd:simpleType name="LinearLayout">
    <xsd:restriction base="xsd:string"/>
  </xsd:simpleType>
  <xsd:simpleType name="Button">
    <xsd:restriction base="xsd:string"/>
  </xsd:simpleType>
  <xsd:simpleType name="SeekBar">
    <xsd:restriction base="xsd:string"/>
  </xsd:simpleType>
  <xsd:simpleType name="Editable">
    <xsd:restriction base="xsd:string"/>
  </xsd:simpleType>
  <xsd:simpleType name="DateUtils">
    <xsd:restriction base="xsd:string"/>
  </xsd:simpleType>
  <xsd:simpleType name="WebView">
    <xsd:restriction base="xsd:string"/>
  </xsd:simpleType>
  <xsd:simpleType name="WebViewClient">
    <xsd:restriction base="xsd:string"/>
  </xsd:simpleType>
  <xsd:simpleType name="SENSOR_DELAY_GAME">
    <xsd:restriction base="xsd:string"/>
  </xsd:simpleType>
  <xsd:simpleType name="GeomagneticField">
    <xsd:restriction base="xsd:string"/>
  </xsd:simpleType>
  <xsd:simpleType name="Sensor">
    <xsd:restriction base="xsd:string"/>
  </xsd:simpleType>
  <xsd:simpleType name="SensorEvent">
    <xsd:restriction base="xsd:string"/>
  </xsd:simpleType>
  <xsd:simpleType name="SensorEventListener">
    <xsd:restriction base="xsd:string"/>
  </xsd:simpleType>
  <xsd:simpleType name="SensorManager">
    <xsd:restriction base="xsd:string"/>
  </xsd:simpleType>
  <xsd:simpleType name="RSAPublicKeySpec">
    <xsd:restriction base="xsd:string"/>
  </xsd:simpleType>
  <xsd:simpleType name="RSAPrivateKeySpec">
    <xsd:restriction base="xsd:string"/>
  </xsd:simpleType>
  <xsd:simpleType name="InvalidKeyException">
    <xsd:restriction base="xsd:string"/>
  </xsd:simpleType>
  <xsd:simpleType name="KeyFactory">
    <xsd:restriction base="xsd:string"/>
  </xsd:simpleType>
  <xsd:simpleType name="KeyPair">
    <xsd:restriction base="xsd:string"/>
  </xsd:simpleType>
  <xsd:simpleType name="KeyPairGenerator">
    <xsd:restriction base="xsd:string"/>
  </xsd:simpleType>
  <xsd:simpleType name="NoSuchAlgorithmException">
    <xsd:restriction base="xsd:string"/>
  </xsd:simpleType>
  <xsd:simpleType name="RSAPrivateKey">
    <xsd:restriction base="xsd:string"/>
  </xsd:simpleType>
  <xsd:simpleType name="RSAPublicKey">
    <xsd:restriction base="xsd:string"/>
  </xsd:simpleType>
  <xsd:simpleType name="ArrayList">
    <xsd:restriction base="xsd:string"/>
  </xsd:simpleType>
  <xsd:simpleType name="Date">
    <xsd:restriction base="xsd:string"/>
  </xsd:simpleType>
  <xsd:simpleType name="List">
    <xsd:restriction base="xsd:string"/>
  </xsd:simpleType>
  <xsd:simpleType name="Calendar">
    <xsd:restriction base="xsd:string"/>
  </xsd:simpleType>
  <xsd:simpleType name="Vector">
    <xsd:restriction base="xsd:string"/>
  </xsd:simpleType>
  <xsd:simpleType name="Locale">
    <xsd:restriction base="xsd:string"/>
  </xsd:simpleType>
  <xsd:simpleType name="HashMap">
    <xsd:restriction base="xsd:string"/>
  </xsd:simpleType>
  <xsd:simpleType name="Random">
    <xsd:restriction base="xsd:string"/>
  </xsd:simpleType>
  <xsd:simpleType name="UUID">
    <xsd:restriction base="xsd:string"/>
  </xsd:simpleType>
  <xsd:simpleType name="Set">
    <xsd:restriction base="xsd:string"/>
  </xsd:simpleType>
  <xsd:simpleType name="TimeUnit">
    <xsd:restriction base="xsd:string"/>
  </xsd:simpleType>
  <xsd:simpleType name="Iterator">
    <xsd:restriction base="xsd:string"/>
  </xsd:simpleType>
  <xsd:simpleType name="Matcher">
    <xsd:restriction base="xsd:string"/>
  </xsd:simpleType>
  <xsd:simpleType name="Pattern">
    <xsd:restriction base="xsd:string"/>
  </xsd:simpleType>
  <xsd:simpleType name="Collections">
    <xsd:restriction base="xsd:string"/>
  </xsd:simpleType>
  <xsd:simpleType name="Hashtable">
    <xsd:restriction base="xsd:string"/>
  </xsd:simpleType>
  <xsd:simpleType name="ByteArrayInputStream">
    <xsd:restriction base="xsd:string"/>
  </xsd:simpleType>
  <xsd:simpleType name="IOException">
    <xsd:restriction base="xsd:string"/>
  </xsd:simpleType>
  <xsd:simpleType name="UnsupportedEncodingException">
    <xsd:restriction base="xsd:string"/>
  </xsd:simpleType>
  <xsd:simpleType name="BufferedReader">
    <xsd:restriction base="xsd:string"/>
  </xsd:simpleType>
  <xsd:simpleType name="InputStream">
    <xsd:restriction base="xsd:string"/>
  </xsd:simpleType>
  <xsd:simpleType name="InputStreamReader">
    <xsd:restriction base="xsd:string"/>
  </xsd:simpleType>
  <xsd:simpleType name="OutputStream">
    <xsd:restriction base="xsd:string"/>
  </xsd:simpleType>
  <xsd:simpleType name="OutputStreamWriter">
    <xsd:restriction base="xsd:string"/>
  </xsd:simpleType>
  <xsd:simpleType name="ObjectInputStream">
    <xsd:restriction base="xsd:string"/>
  </xsd:simpleType>
  <xsd:simpleType name="ObjectOutputStream">
    <xsd:restriction base="xsd:string"/>
  </xsd:simpleType>
  <xsd:simpleType name="Serializable">
    <xsd:restriction base="xsd:string"/>
  </xsd:simpleType>
  <xsd:simpleType name="File">
    <xsd:restriction base="xsd:string"/>
  </xsd:simpleType>
  <xsd:simpleType name="FileWriter">
    <xsd:restriction base="xsd:string"/>
  </xsd:simpleType>
  <xsd:simpleType name="BufferedInputStream">
    <xsd:restriction base="xsd:string"/>
  </xsd:simpleType>
  <xsd:simpleType name="StringReader">
    <xsd:restriction base="xsd:string"/>
  </xsd:simpleType>
  <xsd:simpleType name="BigInteger">
    <xsd:restriction base="xsd:string"/>
  </xsd:simpleType>
  <xsd:simpleType name="URLDecoder">
    <xsd:restriction base="xsd:string"/>
  </xsd:simpleType>
  <xsd:simpleType name="HttpURLConnection">
    <xsd:restriction base="xsd:string"/>
  </xsd:simpleType>
  <xsd:simpleType name="URL">
    <xsd:restriction base="xsd:string"/>
  </xsd:simpleType>
  <xsd:simpleType name="URLConnection">
    <xsd:restriction base="xsd:string"/>
  </xsd:simpleType>
  <xsd:simpleType name="DecimalFormat">
    <xsd:restriction base="xsd:string"/>
  </xsd:simpleType>
  <xsd:simpleType name="BreakIterator">
    <xsd:restriction base="xsd:string"/>
  </xsd:simpleType>
  <xsd:simpleType name="InvocationTargetException">
    <xsd:restriction base="xsd:string"/>
  </xsd:simpleType>
  <xsd:simpleType name="Method">
    <xsd:restriction base="xsd:string"/>
  </xsd:simpleType>
  <xsd:simpleType name="UncaughtExceptionHandler">
    <xsd:restriction base="xsd:string"/>
  </xsd:simpleType>
  <xsd:simpleType name="Twitter">
    <xsd:restriction base="xsd:string"/>
  </xsd:simpleType>
  <xsd:simpleType name="TwitterException">
    <xsd:restriction base="xsd:string"/>
  </xsd:simpleType>
  <xsd:simpleType name="Status">
    <xsd:restriction base="xsd:string"/>
  </xsd:simpleType>
  <xsd:simpleType name="User">
    <xsd:restriction base="xsd:string"/>
  </xsd:simpleType>
  <xsd:simpleType name="OAuthSignpostClient">
    <xsd:restriction base="xsd:string"/>
  </xsd:simpleType>
  <xsd:simpleType name="TwitterAccount">
    <xsd:restriction base="xsd:string"/>
  </xsd:simpleType>
  <xsd:simpleType name="Assert">
    <xsd:restriction base="xsd:string"/>
  </xsd:simpleType>
  <xsd:simpleType name="OAuth">
    <xsd:restriction base="xsd:string"/>
  </xsd:simpleType>
  <xsd:simpleType name="OAuthConsumer">
    <xsd:restriction base="xsd:string"/>
  </xsd:simpleType>
  <xsd:simpleType name="OAuthProvider">
    <xsd:restriction base="xsd:string"/>
  </xsd:simpleType>
  <xsd:simpleType name="CommonsHttpOAuthConsumer">
    <xsd:restriction base="xsd:string"/>
  </xsd:simpleType>
  <xsd:simpleType name="CommonsHttpOAuthProvider">
    <xsd:restriction base="xsd:string"/>
  </xsd:simpleType>
  <xsd:simpleType name="OAuthCommunicationException">
    <xsd:restriction base="xsd:string"/>
  </xsd:simpleType>
  <xsd:simpleType name="OAuthExpectationFailedException">
    <xsd:restriction base="xsd:string"/>
  </xsd:simpleType>
  <xsd:simpleType name="OAuthMessageSignerException">
    <xsd:restriction base="xsd:string"/>
  </xsd:simpleType>
  <xsd:simpleType name="OAuthNotAuthorizedException">
    <xsd:restriction base="xsd:string"/>
  </xsd:simpleType>
  <xsd:simpleType name="BadPaddingException">
    <xsd:restriction base="xsd:string"/>
  </xsd:simpleType>
  <xsd:simpleType name="Cipher">
    <xsd:restriction base="xsd:string"/>
  </xsd:simpleType>
  <xsd:simpleType name="IllegalBlockSizeException">
    <xsd:restriction base="xsd:string"/>
  </xsd:simpleType>
  <xsd:simpleType name="NoSuchPaddingException">
    <xsd:restriction base="xsd:string"/>
  </xsd:simpleType>
  <xsd:simpleType name="DocumentBuilder">
    <xsd:restriction base="xsd:string"/>
  </xsd:simpleType>
  <xsd:simpleType name="DocumentBuilderFactory">
    <xsd:restriction base="xsd:string"/>
  </xsd:simpleType>
  <xsd:simpleType name="HttpEntity">
    <xsd:restriction base="xsd:string"/>
  </xsd:simpleType>
  <xsd:simpleType name="HttpResponse">
    <xsd:restriction base="xsd:string"/>
  </xsd:simpleType>
  <xsd:simpleType name="NameValuePair">
    <xsd:restriction base="xsd:string"/>
  </xsd:simpleType>
  <xsd:simpleType name="ClientProtocolException">
    <xsd:restriction base="xsd:string"/>
  </xsd:simpleType>
  <xsd:simpleType name="HttpClient">
    <xsd:restriction base="xsd:string"/>
  </xsd:simpleType>
  <xsd:simpleType name="UrlEncodedFormEntity">
    <xsd:restriction base="xsd:string"/>
  </xsd:simpleType>
  <xsd:simpleType name="HttpPost">
    <xsd:restriction base="xsd:string"/>
  </xsd:simpleType>
  <xsd:simpleType name="DefaultHttpClient">
    <xsd:restriction base="xsd:string"/>
  </xsd:simpleType>
  <xsd:simpleType name="BasicNameValuePair">
    <xsd:restriction base="xsd:string"/>
  </xsd:simpleType>
  <xsd:simpleType name="EntityUtils">
    <xsd:restriction base="xsd:string"/>
  </xsd:simpleType>
  <xsd:simpleType name="ByteArrayBuffer">
    <xsd:restriction base="xsd:string"/>
  </xsd:simpleType>
  <xsd:simpleType name="JSONException">
    <xsd:restriction base="xsd:string"/>
  </xsd:simpleType>
  <xsd:simpleType name="JSONObject">
    <xsd:restriction base="xsd:string"/>
  </xsd:simpleType>
  <xsd:simpleType name="JSONArray">
    <xsd:restriction base="xsd:string"/>
  </xsd:simpleType>
  <xsd:simpleType name="Document">
    <xsd:restriction base="xsd:string"/>
  </xsd:simpleType>
  <xsd:simpleType name="Element">
    <xsd:restriction base="xsd:string"/>
  </xsd:simpleType>
  <xsd:simpleType name="NamedNodeMap">
    <xsd:restriction base="xsd:string"/>
  </xsd:simpleType>
  <xsd:simpleType name="Node">
    <xsd:restriction base="xsd:string"/>
  </xsd:simpleType>
  <xsd:simpleType name="NodeList">
    <xsd:restriction base="xsd:string"/>
  </xsd:simpleType>
  <xsd:simpleType name="InputSource">
    <xsd:restriction base="xsd:string"/>
  </xsd:simpleType>
  <xsd:simpleType name="Thread">
    <xsd:restriction base="xsd:string"/>
  </xsd:simpleType>
  <xsd:simpleType name="Builder">
    <xsd:restriction base="xsd:string"/>
  </xsd:simpleType>
  <xsd:simpleType name="Void">
    <xsd:restriction base="xsd:string"/>
  </xsd:simpleType>
  <xsd:simpleType name="Object">
    <xsd:restriction base="xsd:string"/>
  </xsd:simpleType>
  <xsd:simpleType name="DATASOURCE,Boolean&gt;">
    <xsd:restriction base="xsd:string"/>
  </xsd:simpleType>
  <xsd:simpleType name="Message&gt;">
    <xsd:restriction base="xsd:string"/>
  </xsd:simpleType>
  <xsd:simpleType name="Status&gt;">
    <xsd:restriction base="xsd:string"/>
  </xsd:simpleType>
  <xsd:simpleType name="Parameters">
    <xsd:restriction base="xsd:string"/>
  </xsd:simpleType>
  <xsd:simpleType name="Throwable">
    <xsd:restriction base="xsd:string"/>
  </xsd:simpleType>
  <xsd:simpleType name="OnSeekBarChangeListener">
    <xsd:restriction base="xsd:string"/>
  </xsd:simpleType>
  <xsd:simpleType name="Exception">
    <xsd:restriction base="xsd:string"/>
  </xsd:simpleType>
</xsd:schema>
